/*

    StackCSS by GrowStocks v.1.0.0
    Made by Matteu#0001

    Copyright 2021 (c) Matteu and the GrowStocks Development Group

    The CSS Library for building quick, beautiful, responsive, and flexible user interfaces.

    "Why did you put that in there?!" - from that one jackbox game we played last friday

*/

// ENV FILE

//--------------------------------------------------------------------------
// :root settings
//--------------------------------------------------------------------------
//
// This is where you set your theme's colors. You can enter the primary,
// secondary, and other colors in here and the library will automatically
// apply it to your theme. Specific instructions are written with the
// setting inputs.
//

:root {
    // SURFACE COLOR AND GENERAL COLORS
    --surface: #000b18;
    --transparent: rgba(0, 0, 0, 0.0);

    // PRIMARY COLORS
    --primary-dark: #001334;
    --primary: #12395eff;
    --primary-light: #44638b;

    --primary--variant-dark: #1c4c86;
    --primary--variant: #1d69a9;
    --primary--variant-light: #7d9fcb;

    // SECONDARY COLORS
    --secondary-dark: #c67100;
    --secondary: #ffa000;
    --secondary-light: #ffd149;

    // TEXT COLORS
    --on-primary: #fff;
    --on-secondary: #000;
    --on-input: #000;
    --on-error: #fff;
    --on-warning: #000;
    --on-success: #fff;
    --on-surface: #fff;
    --placeholder: #3c3c3c;
    --on-code: #48ff5f;

    // INPUT COLORS
    --input: #b0bfcd;

    // ALERT COLORS
    --error: #b00020;
    --warning: #ffa000;
    --success: #34cb4e;

    // BANNER STYLING
    // COULD BE SOLID COLOR, GRADIENT, OR IMAGE
    --banner: linear-gradient(45deg, #001334 0%, #44638b 100%);
    --banner-color: #fff;

    // HOVER COLORS
    --hover-dark: #3c3c3c;
    --hover: #5a5a5a;
    --hover-light: #a9adb2;

    // SCROLL COLORS
    --scroll-thumb: #929292;
    --scroll-hover: #5a5a5a;

    // HIDDEN ELEMENT COLORS
    --tooltip: #232323;
    --snackbar: #232323;
    /*============================================
    --scroll-track is ALWAYS the --surface color
    ============================================*/

    // SET OTHER DEVICE PREFERENCE
    --other-preference: light;

    // SET TRANSITIONS
    --ts-scale: 1.1;
}

//--------------------------------------------------------------------------
// Font Settings
//--------------------------------------------------------------------------
//
// This is where you set your theme's fonts. --font-link is where you import
// your font link (from Google Fonts or wherever you get it). Then specify the
// font-family name and whether if it's sans-serif or serif. Then that's it!
//
// The --font-link variable is null on default whenever you want to use a system
// font.
//

// IMPORT FONT
@import url('https://font.api/font.css@parmeters');

* {
    // SPECIFY FONT
    --font-name: 'Consolas';
    --font-type: sans-serif;
}

h1,
h2,
h3 {
    --font-name: 'Consolas';
    --font-type: sans-serif;
}

h4,
h5,
h6 {
    --font-name: 'Consolas';
    --font-type: sans-serif;
}

//--------------------------------------------------------------------------
// .nav__container settings
//--------------------------------------------------------------------------
//
// Specify the amount of navbar items in here (how many buttons to be displayed)
// then the library will do the work for you
//

.nav__container {
    --nav-contents: 4;
}

//--------------------------------------------------------------------------
// .banner settings
//--------------------------------------------------------------------------
//
// Customize the banner shape using --clip-path (null on default)
//

.banner {
    --clip-path: null;
}

//--------------------------------------------------------------------------
// .drawer settings
//--------------------------------------------------------------------------
//
// Customize the banner shape using --clip-path (null on default).
// You can also customize the color of the drawer contents (--surface on default).
//

.drawer {
    --clip-path: null;
    --on-drawer: var(--surface);
}

//--------------------------------------------------------------------------
// Dark Mode/Light Mode (Device Preference) settings
//--------------------------------------------------------------------------
//
// Place dark mode/light mode specifications here
//

@media (prefers-color-scheme: var(--other-preference)) {
    // CODE
}
