//--------------------------------------------------------------------------
// Overrides file
//--------------------------------------------------------------------------
//
// This is where you set your theme overrides. If you want to override something
// from the current component styling, this is where you put all of those.
//
// Please refer to the docs when overriding a style.
//
// NOTE: for a massive success rate (Dream; 1 in 7 million moment), use !important
// on these overrides.
//
