/*

    StackCSS by GrowStocks v.1.2.0
    Made by Matteu#0001

    Copyright 2021 (c) Matteu and the GrowStocks Development Group

    The CSS Library for building quick, beautiful, responsive, and flexible user interfaces.

    "Why did you put that in there?!" - from that one jackbox game we played last friday

*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --surface: #000b18;
  --transparent: rgba(0, 0, 0, 0.0);
  --primary-dark: #001334;
  --primary: #12395eff;
  --primary-light: #44638b;
  --primary--variant-dark: #1c4c86;
  --primary--variant: #1d69a9;
  --primary--variant-light: #7d9fcb;
  --secondary-dark: #c67100;
  --secondary: #ffa000;
  --secondary-light: #ffd149;
  --on-primary: #fff;
  --on-secondary: #000;
  --on-input: #000;
  --on-error: #fff;
  --on-warning: #000;
  --on-success: #fff;
  --on-surface: #fff;
  --placeholder: #3c3c3c;
  --on-code: #48ff5f;
  --input: #b0bfcd;
  --error: #b00020;
  --warning: #ffa000;
  --success: #25a53f;
  --undefined: #757575;
  --banner: linear-gradient(45deg, #001334 0%, #44638b 100%);
  --banner-color: #fff;
  --hover-dark: #3c3c3c;
  --hover: #5a5a5a;
  --hover-light: #a9adb2;
  --scroll-thumb: #929292;
  --scroll-hover: #5a5a5a;
  --tooltip: #232323;
  --snackbar: #232323;
  /*============================================
  --scroll-track is ALWAYS the --surface color
  ============================================*/
  --other-preference: light;
  --ts-scale: 1.1;
}

* {
  --font-name: "Roboto";
  --font-type: sans-serif;
}

h1,
h2,
h3,
b {
  --font-name: "Roboto";
  --font-type: sans-serif;
  --font-weight: 700;
}

h4,
h5,
h6,
p {
  --font-name: "Roboto";
  --font-type: sans-serif;
  --font-weight: 400;
}

.nav__container {
  --nav-contents: 4;
}

.banner {
  --clip-path: null;
}

.drawer {
  --clip-path: null;
  --on-drawer: var(--surface);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--on-surface);
  font-family: var(--font-name), var(--font-type);
}
*::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  width: 0.7em;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
b {
  font-weight: var(--font-weight);
  font-family: var(--font-name), var(--font-type);
  color: inherit;
}

h4,
h5,
h6,
p {
  font-weight: var(--font-weight);
  font-family: var(--font-name), var(--font-type);
  color: inherit;
}

html {
  width: 100%;
  height: auto;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  background-color: var(--surface);
}
body::-webkit-scrollbar-track {
  background: var(--surface);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border: 4px solid var(--surface);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-hover);
}

/* WRAPPERS */
.wrap--content {
  background-color: rgba(0, 0, 0, 0) !important;
  width: calc(100% - 20px);
  max-width: 1077px;
  margin: 67px auto 65px auto;
  min-height: 25vh;
}
.wrap--content--no-margin-top {
  background-color: rgba(0, 0, 0, 0) !important;
  width: calc(100% - 20px);
  max-width: 1077px;
  margin: 25px auto 65px auto;
  min-height: 25vh;
}
@media (min-width: 850px) {
  .wrap--content--no-margin-top {
    margin: 25px auto 25px auto;
  }
}

@media (min-width: 850px) {
  .wrap--content {
    margin: 67px auto 25px auto;
  }
}

.wrap--section {
  width: 100%;
  margin-bottom: 15px;
}

.wrap--item {
  width: 100%;
  margin-bottom: 10px;
}

.wrap--button {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: flex-end !important;
  align-content: flex-end !important;
  margin: 7px auto 0 auto;
}

.wrap--text {
  display: inline;
  width: 100%;
}

.wrap--card--x, .wrap--card--y {
  width: 100%;
  margin-bottom: 10px;
  white-space: normal;
  max-width: 300px;
}

@media (min-width: 850px) {
  .col--33 {
    width: calc(33% - 2px) !important;
    padding-right: 5px !important;
    float: left;
  }

  .col--66 {
    width: calc(66% - 5px) !important;
    float: right;
    margin-top: 0;
  }

  .col--50--l {
    float: left;
    width: calc(50% - 5px) !important;
  }

  .col--50--r {
    float: right;
    width: calc(50% - 5px) !important;
  }
}
/* CONTAINERS */
.contain--flex--row {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  gap: 1rem;
}

.contain--flex--column {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.contain--flex--centered {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto !important;
  width: 100%;
  top: 20px;
}

.contain--grid {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  margin: 17px auto;
  padding: 0 5px;
}
@media (min-width: 482px) {
  .contain--grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 721px) {
  .contain--grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 975px) {
  .contain--grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.contain--grid--large {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  margin: 17px auto;
  padding: 0 5px;
}
@media (min-width: 482px) {
  .contain--grid--large {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 721px) {
  .contain--grid--large {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 975px) {
  .contain--grid--large {
    grid-template-columns: repeat(3, 1fr);
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  height: 50px;
  background-color: var(--primary-dark);
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
}
.header__wrap .header__text {
  position: relative;
  left: 0;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@media (min-width: 850px) {
  .header__wrap .header__text {
    padding: 0.5rem;
  }
}
.header__wrap .header__text.invisible {
  display: none;
}
@media (min-width: 850px) {
  .header__wrap {
    width: calc(100% - 34px);
    margin: 0 auto;
  }
}

.header--scrollable {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  height: 50px;
  background-color: var(--transparent);
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.header--scrollable * {
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: var(--banner-color);
}
.header--scrollable.scrolled {
  background-color: var(--primary-dark);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0px rgba(0, 0, 0, 0.14), 0 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.header--scrollable.scrolled * {
  color: var(--on-primary);
}

/* NAVBAR */
.nav {
  width: 100%;
  position: fixed;
  padding: 0.5rem;
  bottom: 0;
  z-index: 100;
  background-color: var(--primary-dark);
}
@media (min-width: 850px) {
  .nav {
    width: 0;
    height: 0;
    top: 0;
    bottom: inherit;
    background-color: transparent !important;
  }
}
.nav .nav__container {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: repeat(var(--nav-contents), 1fr);
  grid-gap: 0.5rem;
  text-align: center;
}
@media (min-width: 850px) {
  .nav .nav__container {
    position: fixed;
    right: 17px;
    width: 200px;
    top: 12px;
  }
}
.nav .nav__container .nav__item {
  margin: 0 auto;
  cursor: pointer;
}
.nav .nav__container .nav__item .nav__item__icon {
  font-size: 24px;
  font-weight: 200 !important;
  color: var(--on-primary) !important;
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.nav .nav__container .nav__item .nav__item__icon:hover {
  opacity: 0.6;
}
.nav .nav__container .nav__item .nav__item__text {
  font-size: 12px !important;
  margin-top: -3px;
  color: var(--on-primary) !important;
}
@media (min-width: 850px) {
  .nav .nav__container .nav__item .nav__item__text {
    display: none !important;
    /*font-size: 16px!important;
    margin-top: 0;*/
  }
}

@media (min-width: 850px) {
  .header--scrollable .nav__item_icon,
.header--scrollable .nav__item_text {
    color: var(--banner-color);
  }
}

.search {
  width: calc(100% + 22px);
  display: none;
  padding: 9px 0;
  transition: all 0.2s ease !important;
}
@media (min-width: 850px) {
  .search {
    display: block;
    position: fixed;
    max-width: calc(320px + 22px);
    padding: 0.5rem 0;
    right: 235px;
  }
}
.search.visible {
  display: block !important;
}
.search label {
  background-color: var(--primary-light);
}
.search form {
  width: calc(100% + 22px);
  border: none;
  position: relative;
  left: 10px;
  display: flex;
}
@media (min-width: 850px) {
  .search form {
    width: 100%;
    margin-top: -1px;
  }
}
.search form label {
  display: none;
}
@media (min-width: 850px) {
  .search form label {
    display: block;
    position: relative;
    margin-right: 7px;
    padding: 7px;
    font-size: 22px;
    border-radius: 25px;
  }
}
.search form input[type=text] {
  border: none;
  font-size: 15px;
  border-radius: 20px;
  width: 100%;
  padding: 7px 12px;
  background-color: var(--input);
  color: var(--on-input);
}
.search form input[type=text]::before {
  content: "Search";
  color: var(--placeholder);
}

.search__buttons {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.search__buttons button {
  width: 30px !important;
  height: 30px !important;
  display: block;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px !important;
  border-radius: 50%;
}
@media (min-width: 850px) {
  .search__buttons button {
    display: none !important;
  }
}
.search__buttons .search-button {
  transition: all 0.2s ease !important;
}
.search__buttons .search-button.invisible {
  display: none !important;
}
.search__buttons .close-button {
  width: 30px;
  height: 30px;
  display: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px !important;
  border-radius: 50%;
  color: var(--surface) !important;
  transition: all 0.2s ease !important;
}
@media (min-width: 850px) {
  .search__buttons .close-button {
    display: none !important;
  }
}
.search__buttons .close-button.visible {
  display: block !important;
}

.search__predictive {
  width: 100%;
  position: fixed;
  height: 100%;
  top: 50px;
  z-index: 100;
  transform-origin: right;
  overflow-y: scroll;
  background-color: var(--primary--variant-light);
}
@media (min-width: 850px) {
  .search__predictive {
    position: fixed;
    max-width: calc(320px - 22px);
    max-height: 400px;
    right: 225px;
  }
}
.search__predictive .search__predictive_result {
  padding: 0.7rem;
  display: flex;
  /*&::after {
    font-family: 'Material Icons';
    content: 'north_west';
    font-size: 18px;
  }*/
}
.search__predictive .search__predictive_result:hover {
  background-color: var(--primary--variant);
}
.search__predictive .search__predictive_result span {
  position: relative;
  margin-right: 7px;
  font-size: 18px;
}
.search__predictive .search__predictive_result p {
  position: relative;
  font-size: 16px;
}
.search__predictive .search__predictive_result:hover {
  cursor: pointer;
}
.search__predictive .search__predictive_result::-webkit-scrollbar-track {
  background: var(--primary--variant-light);
}
.search__predictive .search__predictive_result::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border: 4px solid var(--primary--variant-light);
}
.search__predictive .search__predictive_result::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-hover);
}

.search__filter {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}
.search__filter .title-bar {
  margin-bottom: 0 !important;
  width: 50%;
}
.search__filter .search__filter__item {
  width: 170px;
  display: flex;
  position: relative;
}
.search__filter .search__filter__item .search__filter__select {
  font-size: 15px;
  width: 100%;
  padding: 5px 7px;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;
  border: 1px solid var(--primary-light);
  background-color: var(--transparent);
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.search__filter .search__filter__item .search__filter__select:hover, .search__filter .search__filter__item .search__filter__select:focus, .search__filter .search__filter__item .search__filter__select:focus-within {
  background-color: var(--primary-light);
}
.search__filter .search__filter__item .search__filter__select option {
  border: none;
  font-size: 15px;
  max-width: 170px;
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
}
.search__filter .search__filter__item .search__filter__arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 100%;
  width: 1.5em;
  pointer-events: none;
}
.search__filter .search__filter__item .search__filter__arrow::before, .search__filter .search__filter__item .search__filter__arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 40%;
  top: 35%;
  transform: translate(-50%, -50%);
}
.search__filter .search__filter__item .search__filter__arrow::before {
  --size: 0.3em;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid #fff;
  top: 65%;
}
.search__filter .search__filter__item .search__filter__arrow::after {
  --size: 0.3em;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid #fff;
  bottom: 35%;
}
.search__filter .search__filter__item .search__filter__label {
  padding: 5px;
}

.market__search {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}
.market__search form {
  width: 100%;
}
.market__search input[type=text] {
  width: 100%;
  border-radius: 5px;
  padding: 7px;
  border: none;
  font-size: 14px;
}

/* MENU DRAWER */
.drawer__overlay {
  display: block;
  position: fixed;
  z-index: 98;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.drawer {
  width: 100%;
  max-width: 370px;
  padding: 15px;
  height: 100%;
  position: fixed;
  right: 0 !important;
  top: 50px;
  z-index: 99;
  overflow-y: scroll;
  background-color: var(--primary--variant-light);
}
.drawer * {
  color: var(--on-drawer);
}
.drawer.drawer--right {
  transform-origin: right;
}
.drawer .drawer__item {
  display: block;
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.drawer .drawer__item:hover {
  opacity: 0.7;
  cursor: pointer;
}
.drawer .drawer__item p {
  padding: 7px;
  display: inline-block;
  font-size: 16px !important;
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.drawer .drawer__icon {
  display: inline-block;
  position: relative;
  top: 2px;
  font-size: 17px;
}
.drawer::-webkit-scrollbar-track {
  background: var(--primary--variant-light);
}
.drawer::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border: 4px solid var(--primary--variant-light);
}
.drawer::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-hover);
}

.drawer__divider {
  margin: 17px 0 7px 0;
  text-align: center;
  font-weight: 700 !important;
}

.drawer__socials {
  display: flex;
  justify-content: space-around;
  width: 210px;
  margin: 0 auto;
}
.drawer__socials i {
  font-size: 24px !important;
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.drawer__socials i:hover {
  opacity: 0.7;
  cursor: pointer;
  transform: scale(var(--ts-scale));
}

.drawer__language-wrap {
  text-align: center;
}
.drawer__language-wrap .drawer__language,
.drawer__language-wrap .drawer__language p {
  display: inline-block !important;
  font-size: 14px !important;
  text-align: center;
}
.drawer__language-wrap .drawer__language__spacer {
  display: inline-block;
  margin: 0 1px;
}

.drawer__language--active p {
  font-weight: 700;
}

.banner {
  height: 37vh;
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  clip-path: var(--clip-path);
  background: var(--banner);
}
.banner .wrap--text {
  width: calc(100% - 100px);
  max-width: 1077px;
  text-align: left;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner .wrap--text h1 {
  font-weight: 700;
}
.banner .wrap--text * {
  color: var(--banner-color);
}
.banner .wrap--text .banner__socials {
  display: flex;
  justify-content: space-between;
  width: 90px;
  margin: 10px 0 0 0;
}
.banner .wrap--text .banner__socials i {
  color: var(--banner-color);
  font-size: 24px !important;
}

.footer {
  margin-top: auto;
  padding: 1.5rem;
  margin-bottom: 55px;
  background-color: var(--primary-dark);
}
@media (min-width: 850px) {
  .footer {
    margin-bottom: 0;
  }
}
.footer .wrap--text {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.footer .wrap--text h3 {
  width: 140px;
  margin: 0 auto;
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.footer .wrap--text h3:hover {
  color: var(--secondary);
  cursor: default;
}
.footer .footer__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
}
.footer .footer__links .footer__links__item p {
  font-size: 12px !important;
}
.footer .footer__language__wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 7px;
  width: 250px;
  margin: 10px auto 5px auto;
}
.footer .footer__language__wrap .footer__language,
.footer .footer__language__wrap .footer__language p {
  font-size: 13px !important;
  text-align: center;
}
.footer .footer__language__wrap .footer__language__spacer {
  font-size: 13px !important;
  margin: 0 1px;
}
.footer .footer__language--active p {
  font-weight: 700;
}

.btn {
  padding: 7px 10px;
  border-radius: 0.5rem;
  margin: 5px 0;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border: 1px solid var(--secondary);
  background-color: var(--transparent);
  color: var(--on-primary);
}
.btn:hover {
  cursor: pointer;
  background-color: var(--secondary);
  color: var(--on-secondary);
}
.btn--primary {
  padding: 7px 10px;
  border-radius: 0.5rem;
  font-size: 15px;
  font-weight: 700;
  margin: 5px 0 7px 0;
  -webkit-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--on-secondary);
}
.btn--primary:hover {
  border: 1px solid var(--secondary-dark);
  background-color: var(--secondary-dark);
  cursor: pointer;
}

.market__button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  margin-bottom: 3px;
  margin-top: 3px;
}
.market__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.title-bar {
  width: 100%;
  height: auto;
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  background-color: var(--primary);
}
.title-bar--on-card {
  width: 100%;
  height: auto;
  padding: 3px 0;
  margin-bottom: 7px;
  font-size: 20px;
  font-weight: 700;
  background-color: transparent !important;
}

.title-bar--on-surface {
  width: 100%;
  height: auto;
  padding: 0 5px;
  margin-bottom: 7px;
  font-size: 20px;
  font-weight: 700;
  background-color: transparent !important;
}

.card {
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primary-light);
}
.card--on-surface {
  width: 100%;
  height: auto;
  padding: 5px;
  margin-bottom: 10px;
  background-color: transparent !important;
}
.card--on-surface p {
  font-size: 14px;
  text-align: justify;
}
.card--on-surface code {
  background-color: #333;
  color: #de7272;
  padding: 0 3px;
}

.card p {
  font-size: 14px;
  text-align: justify;
}
.card code {
  background-color: #2b2b2b;
  color: #de7272;
  padding: 0 3px;
}

.card--x {
  height: 110px;
  font-size: 13px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 110px auto;
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.card--x:hover, .card--x:focus, .card--x:focus-within {
  transform: scale(1.05);
}
.card--x .card--x__img {
  width: 110px;
  height: 110px;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
}
.card--x .card--x__img img {
  width: 100%;
  height: 100%;
}
.card--x .card--x__container {
  width: 100%;
  padding: 10px;
  overflow: hidden !important;
  word-break: break-word;
  border-radius: 0 5px 5px 0;
  background-color: var(--primary-light);
}
@media (min-width: 850px) {
  .card--x .card--x__container {
    padding: 10px;
  }
}
.card--x .card--x__container .wrap--text {
  margin-bottom: 7px;
}
.card--x .card--x__container .wrap--text .card--x__text {
  position: relative;
}
.card--x .card--x__container h2 {
  font-size: 18px;
}
.card--x .card--x__container .card--x__icons--wrap {
  display: block;
  width: 100%;
  max-width: 200px;
  margin-top: 7px;
}
.card--x .card--x__container .card--x__icons--wrap a {
  margin: 0 7px 0 0;
  font-size: 24px;
  -webkit-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.card--x .card--x__container .card--x__icons--wrap a:hover {
  color: var(--secondary);
}
.card--y {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: var(--primary);
  width: 100%;
  margin: 0;
  -webkit-transition: all 0.1s ease !important;
  -ms-transition: all 0.1s ease !important;
  -moz-transition: all 0.1s ease !important;
  -o-transition: all 0.1s ease !important;
  transition: all 0.1s ease !important;
}
.card--y:hover {
  transform: scale(1.05);
}
.card--y .card--y__img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 120px !important;
  overflow-y: hidden;
}
.card--y .card--y__img img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: auto !important;
}
.card--y .card--y__info {
  padding: 7px;
}
.card--y .card--y__info .wrap--text h4 {
  font-weight: 700;
}
.card--y .card--y__info .card--y__action {
  color: var(--secondary);
  background-color: var(--transparent);
  padding: 0;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  margin-top: 7px;
  -webkit-transition: all 0.1s ease !important;
  -ms-transition: all 0.1s ease !important;
  -moz-transition: all 0.1s ease !important;
  -o-transition: all 0.1s ease !important;
  transition: all 0.1s ease !important;
}
.card--y .card--y__info .card--y__action:hover {
  color: var(--secondary-dark);
  cursor: pointer;
}
.contain--item {
  height: max-content;
}
.contain--item .item__status__sym {
  display: inline !important;
  position: relative !important;
  top: 2px !important;
  right: 0 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}
.contain--item .chip__options__trigger, .contain--item .material-icons {
  display: block;
  position: relative;
  background-color: var(--transparent);
  border: none;
  width: 32px;
  height: 32px;
  float: right;
  padding: 0;
  top: 4px;
  right: 7px;
}
.contain--item .chip__options__trigger:hover, .contain--item .material-icons:hover {
  cursor: pointer;
}

.chip,
.chip--full {
  background-color: var(--primary-light);
  width: 100%;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}
.chip::after,
.chip--full::after {
  content: "";
  clear: both;
  display: table;
}
.chip .chip__sprite img,
.chip--full .chip__sprite img {
  display: inline !important;
  width: 32px;
  height: 32px;
  margin: 3px 10px 7px 2px;
  float: left;
}
.chip .wrap--text,
.chip--full .wrap--text {
  display: inline;
  width: 100% !important;
}
.chip .wrap--text *,
.chip--full .wrap--text * {
  display: inline;
  text-align: justify;
}
.chip h2,
.chip--full h2 {
  font-size: 20px;
  padding: 0 !important;
  display: inline !important;
}
.chip p,
.chip--full p {
  font-size: 14px;
  padding: 0 !important;
  display: inline;
}
.chip a,
.chip--full a {
  display: inline !important;
}
.chip .chip__arrow,
.chip--full .chip__arrow {
  width: 12px !important;
  height: auto !important;
  top: 2px;
  margin: 0 2px 0 1px !important;
}
.chip .chip__spacer,
.chip--full .chip__spacer {
  margin: 0;
  font-weight: 700;
  color: var(--surface);
}

.chip--full {
  border-radius: 5px;
}

.chip__options {
  display: none;
  border: none;
  width: 100%;
  padding: 5px 10px;
  background-color: var(--primary--variant-dark);
}
.chip__options .chip__options__button {
  display: inline-block;
  border: none;
  font-size: 13px !important;
  -webkit-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.chip__options .chip__options__button:hover {
  cursor: pointer;
  color: var(--secondary);
}
.chip__options .chip__options_spacer {
  color: var(--surface);
}

.close {
  content: "close" !important;
}

.chip__footer {
  width: 100%;
  padding: 5px 10px 4px 10px !important;
  border-radius: 0 0 5px 5px;
  font-size: 12px !important;
  font-weight: 700 !important;
  color: #fff !important;
}
.chip__footer.stable {
  background-color: var(--success);
}
.chip__footer.semi-stable {
  background-color: var(--warning);
}
.chip__footer.semi-stable p {
  color: var(--on-secondary);
}
.chip__footer.unstable {
  background-color: var(--error);
}
.chip__footer.undefined {
  background-color: var(--undefined);
}

.wrap--market .chip__options__button {
  display: inline-block;
  border: none;
  font-size: 13px !important;
  margin-right: 0 !important;
}
.wrap--market .chip__options__button:hover {
  cursor: pointer;
}
.wrap--market .chip img {
  margin-bottom: 20px;
}

.code-block {
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
  margin: 20px 0;
  background-color: #2b2b2b;
}
.code-block code {
  width: 100%;
  background-color: transparent;
  color: var(--secondary);
}

.faq {
  display: none;
  margin-bottom: 10px;
  /*transition: ease 200ms 200ms;
  transform-origin: top;*/
}

.faq--open {
  cursor: pointer;
}
.faq--open .material-icons {
  display: inline;
}
.faq--open h2 {
  position: relative;
  top: -5px;
  display: inline;
}

.form {
  width: 100%;
  max-width: 670px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--primary);
  border-radius: 0.8rem;
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.form:focus-within {
  transform: scale(1.01);
}
.form .form__field {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
.form .form__field label {
  width: 100%;
  color: var(--on-primary);
  font-size: 13px;
  margin-bottom: 5px;
}
.form .form__field input {
  width: 100%;
  background-color: var(--input);
  color: var(--on-input);
  padding: 0.5rem 0.7rem;
  border: none;
  border-radius: 5px;
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  font-size: min(14px, 18px);
}
.form .form__field input::placeholder {
  color: var(--placeholder);
}
.form .form__field .error {
  background-color: var(--error);
  color: var(--on-error);
  padding: 3px 5px;
  border-radius: 3px;
  margin: 5px 0 0 0;
  font-size: 13px;
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.form .form__button {
  border: none;
  border-radius: 5px;
  padding: 7px;
  margin: 10px 0 0 0;
  background-color: var(--secondary);
  color: var(--on-secondary);
  font-weight: 700;
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.form .form__button:hover, .form .form__button:focus {
  background-color: var(--secondary-dark);
  transform: scale(1.01);
  cursor: pointer;
}

/* MODAL */
.modal__overlay {
  display: block;
  position: fixed;
  z-index: 99996;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  margin: 10px auto 0 auto;
  width: 90%;
  max-width: 570px;
  z-index: 99999 !important;
  border-radius: 5px;
}
@media (min-width: 850px) {
  .modal {
    margin: 60px auto 0 auto;
  }
}

.modal__header {
  display: flex;
  justify-content: space-between !important;
  align-content: space-between !important;
  padding: 10px 20px;
  opacity: 100%;
  border-radius: 5px 5px 0 0;
}
.modal__header h2 {
  margin: 0;
}
.modal__header h2 p {
  position: relative !important;
  top: 3px !important;
  margin-right: 5px;
  font-size: 26px;
}
.modal__header button {
  margin: 0;
  background-color: transparent;
  border: none;
}
.modal__header button:hover {
  cursor: pointer;
}

.modal__contents {
  padding: 10px 20px;
  opacity: 100%;
  border-radius: 0 0 5px 5px;
}
.modal__contents h3 {
  margin-bottom: 15px;
}
.modal__contents .modal__input--radio {
  margin: 7px 0 7px 0;
}
.modal__contents .modal__input--radio input[type=radio] {
  margin-left: 0;
  margin-bottom: 5px;
  font-size: 14px;
}
.modal__contents .modal__input--radio input[type=radio]:hover {
  cursor: pointer;
}
.modal__contents .modal__input--radio:hover {
  cursor: pointer;
}
.modal__contents .modal__input--text, .modal__contents .modal__input--radio__info {
  width: calc(100% - 37px);
  margin-left: 10px;
  margin-bottom: 10px;
}
.modal__contents .modal__input--text label, .modal__contents .modal__input--radio__info label {
  margin-bottom: 3px;
}
.modal__contents .modal__input--text label .material-icons-outlined, .modal__contents .modal__input--radio__info label .material-icons-outlined {
  font-size: 16px;
  position: relative;
  top: 3px;
}
.modal__contents .modal__input--text .info, .modal__contents .modal__input--radio__info .info {
  font-size: 14px;
}
.modal__contents .modal__input--radio__info {
  padding: 5px 7px;
  border-radius: 5px;
}
.modal__contents input[type=text] {
  display: block;
  border: none;
  padding: 7px;
  font-size: 14px;
  color: #000;
  border-radius: 5px;
  width: 100%;
}
.modal__contents .modal__buttons {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: flex-end !important;
  align-content: flex-end !important;
}
.modal__contents .modal__buttons button {
  display: inline-block;
  margin: 0 !important;
  padding: 7px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}
.modal__contents .modal__buttons button:hover {
  cursor: pointer;
}

#wp_hidden {
  display: none;
}

.snackbar {
  position: fixed;
  width: calc(100% - 40px);
  max-width: 420px;
  padding: 14px 16px;
  z-index: 1000;
  border-radius: 5px;
  bottom: 70px;
  right: 20px;
  border-left: none;
  background-color: var(--snackbar);
}
.snackbar.error {
  border-left: 5px solid var(--error);
}
.snackbar.success {
  border-left: 5px solid var(--success);
}
.snackbar.warning {
  border-left: 5px solid var(--warning);
}
@media (min-width: 850px) {
  .snackbar {
    bottom: 30px;
    right: 30px;
    left: auto;
  }
}
.snackbar .snackbar__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.snackbar .snackbar__wrap .snackbar__label {
  font-size: 15px;
}
.snackbar .snackbar__wrap .snackbar__action {
  border: none;
  background-color: transparent !important;
  font-size: 15px;
  font-weight: 700;
  color: var(--secondary);
}
.snackbar .snackbar__wrap .snackbar__action:hover {
  opacity: 0.7;
  cursor: pointer;
}

.staff {
  width: 100%;
  margin-bottom: 10px;
  white-space: normal;
}

.staff__card {
  padding: 0 !important;
  margin: 0 !important;
  height: 100px;
  font-size: 13px;
  border-radius: 5px;
  display: flex;
}
@media (min-width: 850px) {
  .staff__card {
    height: 120px;
  }
}
.staff__card .staff__container {
  width: 100%;
  padding: 5px 10px;
  /*max-width: 32ch;*/
  overflow: hidden !important;
  position: relative;
  word-break: break-word;
  border-radius: 0 5px 5px 0;
}
.staff__card .staff__container .staff__text {
  margin-bottom: 7px;
}
.staff__card .staff__container .staff__text .staff__quote {
  position: relative;
}
@media (min-width: 850px) {
  .staff__card .staff__container {
    padding: 10px;
  }
}
.staff__card .staff__container a {
  width: 12px;
  height: 12px;
}
.staff__card .staff__container h2 {
  font-size: 18px;
}
@media (min-width: 850px) {
  .staff__card .staff__container h2 {
    font-size: 24px;
  }
}
.staff__card .staff__container .staff__socials {
  display: block;
  width: 100%;
  max-width: 200px;
}
.staff__card .staff__container .staff__socials a {
  margin: 0 7px 0 0;
}
.staff__card .staff__container .staff__socials a i {
  font-size: 24px;
}
.staff__card img {
  width: 100px;
  height: 100px;
  border-radius: 5px 0 0 5px;
}
@media (min-width: 850px) {
  .staff__card img {
    width: 120px;
    height: 120px;
  }
}

*[data-tooltip] {
  position: relative;
}
*[data-tooltip]:hover {
  cursor: help;
}
*[data-tooltip]::after {
  content: attr(data-tooltip);
  display: block;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 0.8em 1em;
  border-radius: 5px;
  font-size: 0.75em;
  bottom: calc(100% + 2px);
  left: -5%;
  right: -5%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
*[data-tooltip]:hover::after {
  opacity: 1;
}

button[data-tooltip] {
  position: relative;
}
button[data-tooltip]:hover {
  cursor: help;
}
button[data-tooltip]::after {
  content: attr(data-tooltip);
  display: block;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 0.8em 1em;
  border-radius: 5px;
  font-size: 0.75em;
  bottom: calc(100% + 5px);
  left: -5%;
  right: -5%;
  z-index: 999;
  opacity: 0;
  transition: opacity ease-in-out 200ms;
  pointer-events: none;
  text-align: center;
}
button[data-tooltip]:hover::after {
  opacity: 1;
}

.elevation--z0 {
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.elevation--z1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.elevation--z2 {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.elevation--z3 {
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
}

.elevation--z4 {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}

.elevation--z5 {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3);
}

/*# sourceMappingURL=style.css.map */
