@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
:root {
  --sc-theme--primary-light: #426294;
  --sc-theme--primary: #12305e;
  --sc-theme--primary-dark: #081528;
  --sc-theme--secondary-light: #d7ba73;
  --sc-theme--secondary: #d49a10;
  --sc-theme--secondary-dark: #996f0c;
  --sc-theme--on-primary: #fff;
  --sc-theme--on-secondary: #000;
  /* STATES */
  --sc-theme--error: #b00020;
  --sc-theme--warning: #ffa000;
  --sc-theme--success: #25a53f;
  --sc-theme--on-error: #fff;
  --sc-theme--on-warning: #000;
  --sc-theme--on-success: #fff;
  /* CUSTOM PROPERTIES */
  --sc-theme--input: #232323;
  --sc-theme--on-input: #fff;
  --sc-theme--surface: #010b16;
  --sc-theme--on-surface: #fff;
}

* {
  font-family: "Nunito", sans-serif;
}
*::before, *::after {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}

h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}

p {
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}

b {
  font-weight: 700;
  color: inherit;
}

html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--sc-theme--primary-dark);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.sc-button {
  width: max-content;
  min-width: 57px;
  display: inline-flex;
  justify-content: center;
  place-items: center;
  border: none;
  user-select: none;
  padding: 8px 12px;
  -webkit-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.sc-button > * + * {
  margin-left: 7px;
}
.sc-button:hover {
  cursor: pointer;
}
.sc-button:focus, .sc-button:active {
  outline: none;
  -webkit-transition: all 0.2s linear !important;
  -ms-transition: all 0.2s linear !important;
  -moz-transition: all 0.2s linear !important;
  -o-transition: all 0.2s linear !important;
  transition: all 0.2s linear !important;
}
.sc-button:disabled {
  pointer-events: none;
}
.sc-button:disabled .sc-button__icon--loading {
  animation: rotate 1.7s linear infinite;
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.sc-button .sc-button__label {
  font-weight: inherit;
  font-size: inherit;
  text-align: left;
  color: inherit;
}
.sc-button .sc-button__icon {
  font-size: 1.25rem;
  position: relative;
  color: inherit;
}
.sc-button.sc-button {
  color: var(--sc-theme--secondary);
  border: none;
  background: rgba(0, 0, 0, 0);
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  text-decoration: inherit;
  text-transform: inherit;
  border-radius: 0.3rem;
}
.sc-button.sc-button:hover {
  color: var(--sc-theme--secondary);
  cursor: pointer;
}
.sc-button.sc-button:focus {
  color: var(--sc-theme--secondary);
  cursor: pointer;
}
.sc-button.sc-button:active {
  color: var(--sc-theme--secondary-light);
  cursor: pointer;
}
.sc-button.sc-button:disabled {
  color: var(--sc-theme--secondary-dark);
}
.sc-button.sc-button--outlined {
  color: var(--sc-theme--secondary);
  border: 1px solid var(--sc-theme--secondary);
  background: rgba(0, 0, 0, 0);
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  text-decoration: inherit;
  text-transform: inherit;
  border-radius: 0.3rem;
}
.sc-button.sc-button--outlined:hover {
  color: var(--sc-theme--on-secondary);
  background: var(--sc-theme--secondary);
  border: 1px solid var(--sc-theme--secondary);
  cursor: pointer;
}
.sc-button.sc-button--outlined:focus {
  color: var(--sc-theme--on-secondary);
  background: var(--sc-theme--secondary);
  border: 1px solid var(--sc-theme--secondary);
  cursor: pointer;
}
.sc-button.sc-button--outlined:active {
  color: var(--sc-theme--on-secondary);
  background: var(--sc-theme--secondary-light);
  border: 1px solid var(--sc-theme--secondary-light);
  cursor: pointer;
}
.sc-button.sc-button--outlined:disabled {
  color: var(--sc-theme--secondary-dark);
  border: 1px solid var(--sc-theme--secondary-dark);
}
.sc-button.sc-button--outlined:disabled:hover {
  background: rgba(0, 0, 0, 0);
}
.sc-button.sc-button--filled {
  color: var(--sc-theme--on-secondary);
  border: 1px solid var(--sc-theme--secondary);
  background: var(--sc-theme--secondary);
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  text-decoration: inherit;
  text-transform: inherit;
  border-radius: 0.3rem;
}
.sc-button.sc-button--filled:hover {
  color: var(--sc-theme--on-secondary);
  border: 1px solid var(--sc-theme--secondary);
  background: var(--sc-theme--secondary);
  cursor: pointer;
}
.sc-button.sc-button--filled:focus {
  color: var(--sc-theme--on-secondary);
  border: 1px solid var(--sc-theme--secondary);
  background: var(--sc-theme--secondary);
  cursor: pointer;
}
.sc-button.sc-button--filled:active {
  color: var(--sc-theme--on-secondary);
  border: 1px solid var(--sc-theme--secondary-light);
  background: var(--sc-theme--secondary-light);
  cursor: pointer;
}
.sc-button.sc-button--filled:disabled {
  color: var(--sc-theme--on-secondary);
  border: 1px solid var(--sc-theme--secondary-dark);
  background: var(--sc-theme--secondary-dark);
}
.sc-button.sc-button--filled:disabled:hover {
  cursor: not-allowed;
}

/*# sourceMappingURL=style.css.map */
