# Package folders
node_modules
**/node_modules
vendor

# Build directories
build
dist

# Dump directory
dump

# Workspaces
.idea
.vscode

# Test build files
tests/**/*.test.css
tests/**/*.test.js

# Package build files
packages/**/*.css
packages/**/*.css.map
packages/**/*.js
packages/**/*.d.ts.map
packages/**/*.d.ts
packages/**/*.style.ts
packages/**/*.styles.ts

# Test byproducts
**/.coverage
**/coverage

# Yarn
.yarn