// @license
// Copyright (c) 2025 MatteuSan
// SPDX-License-Identifier: MIT

$module-mode: false !default;
$test-mode: $module-mode !default;
$vue-mode: $test-mode !default;
$validation: if($vue-mode == true, false, true);
$expressive-inks: false !default;

/// @type map
/// @description helper variable for inheriting values for all color properties
$color-inherit-template: (
  fill: inherit,
  ink: inherit,
  border: inherit
);

/// @type map
/// @description helper variable for inheriting values for all struct properties
$struct-inherit-template: (
  width: inherit,
  height: inherit,
  radius: inherit,
  padding: inherit,
  margin: inherit,
  gap: inherit,
  border-width: inherit,
  border-style: inherit,
  shadow: inherit
);

/// @type map
/// @description helper variable for inheriting values for all typography properties
$type-inherit-template: (
  family: inherit,
  size: inherit,
  weight: inherit,
  line-height: inherit
);

@use 'pkg:@matteusan/sentro' with (
  $prefix: 'ms',
  $context: 'theme',
  $token-validation: $validation,
  $key-validation: $validation,
  $breakpoint-validation: $validation,
);

@forward 'tokens';
@forward 'theme' with ($expressive-inks: $expressive-inks);
@forward 'tools';
@forward 'breakpoint' as breakpoint-*;

@forward 'color' as color-*;
@forward 'struct' as struct-*;
@forward 'sprite' as sprite-*;
@forward 'typography' as typography-*;
@forward 'component' as component-*;