@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
:root {
  --gs-theme-primary-light: #516f9f;
  --gs-theme-primary: #12305e;
  --gs-theme-primary-dark: #071835;
  --gs-theme-on-primary: #ffffff;
  --gs-theme-secondary-light: #ffbd58;
  --gs-theme-secondary: #ff9e0a;
  --gs-theme-secondary-dark: #8c5500;
  --gs-theme-on-secondary: #000000;
  --gs-theme-surface-light: #0b1c44;
  --gs-theme-surface: #000b21;
  --gs-theme-surface-dark: #000611;
  --gs-theme-on-surface: #ffffff;
  --gs-theme-error: #b00020;
  --gs-theme-warning: #ffa000;
  --gs-theme-success: #25a53f;
  --gs-theme-on-error: #ffffff;
  --gs-theme-on-warning: #000000;
  --gs-theme-on-success: #ffffff;
  --gs-theme-radius-small: 0.3rem;
  --gs-theme-radius-medium: 0.5rem;
  --gs-theme-radius-large: 0.7rem;
  --gs-theme-radius-pill: 700px;
  --gs-theme-padding-none: 0;
  --gs-theme-padding-xsmall: 0.25rem;
  --gs-theme-padding-small: 0.75rem;
  --gs-theme-padding-medium: 1.5rem;
  --gs-theme-padding-large: 2.5rem;
  --gs-theme-padding-xlarge: 4rem;
  --gs-theme-margin-none: 0;
  --gs-theme-margin-xsmall: 0.25rem;
  --gs-theme-margin-small: 0.75rem;
  --gs-theme-margin-medium: 1.5rem;
  --gs-theme-margin-large: 2.5rem;
  --gs-theme-margin-xlarge: 4rem;
  --gs-theme-size-title: 1.375rem;
  --gs-theme-size-subtitle: 1rem;
  --gs-theme-size-body: 0.875rem;
  --gs-theme-size-action: 0.875rem;
  --gs-theme-size-mono: 0.875rem;
  --gs-theme-size-small: 0.75rem;
  --gs-theme-size-icon: 1.25rem;
  --gs-theme-weight-global: 400;
  --gs-theme-weight-title: 700;
  --gs-theme-weight-subtitle: 400;
  --gs-theme-weight-body: 400;
  --gs-theme-weight-action: 700;
  --gs-theme-weight-small: 400;
  --gs-theme-weight-mono: 400;
  --gs-theme-weight-icon: normal;
  --gs-theme-line-height-title: 1.7875rem;
  --gs-theme-line-height-subtitle: 1.4625rem;
  --gs-theme-line-height-body: 1.1375rem;
  --gs-theme-line-height-action: 1.1375rem;
  --gs-theme-line-height-mono: 1.1375rem;
  --gs-theme-line-height-small: 0.975rem;
  /* ===== */
  --gs-theme-family-global: Inter, sans-serif;
  --gs-theme-family-title: Inter, sans-serif;
  --gs-theme-family-subtitle: Inter, sans-serif;
  --gs-theme-family-body: Inter, sans-serif;
  --gs-theme-family-small: Inter, sans-serif;
  --gs-theme-family-action: Inter, sans-serif;
  --gs-theme-family-mono: JetBrains Mono, monospace;
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: inherit;
  font-family: var(--gs-family-global, var(--gs-theme-family-global));
  font-weight: var(--gs-weight-global, var(--gs-theme-weight-global));
}

h1,
h2,
h3 {
  font-family: var(--gs-family-title, var(--gs-theme-family-title));
  font-weight: var(--gs-weight-title, var(--gs-theme-weight-title));
}

h4,
h5,
h6 {
  font-family: var(--gs-family-subtitle, var(--gs-theme-family-subtitle));
  font-weight: var(--gs-weight-subtitle, var(--gs-theme-weight-subtitle));
}

a {
  text-decoration: none;
}

p,
span {
  font-size: var(--gs-size-body, var(--gs-theme-size-body));
  font-family: var(--gs-family-body, var(--gs-theme-family-body));
  font-weight: var(--gs-weight-body, var(--gs-theme-weight-body));
}

small {
  font-size: var(--gs-size-small, var(--gs-theme-size-small));
  font-family: var(--gs-family-small, var(--gs-theme-family-small));
  font-weight: var(--gs-weight-small, var(--gs-theme-weight-small));
}

code,
code span {
  font-size: var(--gs-size-mono, var(--gs-theme-size-mono));
  font-family: var(--gs-family-mono, var(--gs-theme-family-mono));
  font-weight: var(--gs-weight-mono, var(--gs-theme-weight-mono));
}

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  background: var(--gs-theme-surface-dark);
  color: var(--gs-theme-on-surface);
}

main.content-wrap {
  width: calc(100% - 30px);
  max-width: 1077px;
  margin: 0 auto;
  padding: 67px 0 25px;
}

.gs-appbar {
  width: var(--gs-appbar-width, 100%);
  height: var(--gs-appbar-height, auto);
  position: fixed;
  inset: auto 0 0 0;
  z-index: 100;
  padding: var(--gs-appbar-padding, 0.5rem);
  background: var(--gs-appbar-fill, var(--gs-theme-primary));
  color: var(--gs-appbar-ink, var(--gs-theme-on-primary));
  border: 1px solid var(--gs-appbar-border, var(--gs-theme-primary));
  border-radius: var(--gs-appbar-radius, none);
  --gs-appbar-size: var(--gs-theme-size-small);
  --gs-appbar-weight: var(--gs-theme-weight-small);
  --gs-appbar-line-height: var(--gs-theme-line-height-small);
}
@media (min-width: 640px) {
  .gs-appbar {
    width: 200px;
    position: relative;
    padding: 0;
  }
}
.gs-appbar .gs-appbar__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--gs-appbar-gap, 0.5rem);
}
.gs-appbar .gs-appbar__wrapper .gs-appbar-item {
  position: relative;
  list-style: none;
  cursor: pointer;
  user-select: none;
}
.gs-appbar .gs-appbar__wrapper .gs-appbar-item a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.gs-appbar .gs-appbar__wrapper .gs-appbar-item.active {
  color: var(--gs-theme-secondary);
}
@media (min-width: 640px) {
  .gs-appbar .gs-appbar__wrapper .gs-appbar-item:hover .gs-appbar-item__label {
    display: block;
    position: absolute;
    bottom: -35px;
    z-index: 102;
    padding: 0.5rem 0.6rem;
    background: #232323;
    color: #fff;
    border-radius: 0.3rem;
    white-space: nowrap;
    box-sizing: border-box;
    text-align: center;
    opacity: 1;
  }
}
.gs-appbar .gs-appbar__wrapper .gs-appbar-item .gs-appbar-item__icon {
  color: inherit;
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
.gs-appbar .gs-appbar__wrapper .gs-appbar-item .gs-appbar-item__label {
  color: inherit;
  font-family: var(--gs-appbar-family);
  font-size: var(--gs-appbar-size);
  font-weight: var(--gs-appbar-weight);
  line-height: var(--gs-appbar-line-height);
  -webkit-transition: all 0.125s ease;
  transition: all 0.125s ease;
}
@media (min-width: 640px) {
  .gs-appbar .gs-appbar__wrapper .gs-appbar-item .gs-appbar-item__label {
    display: none;
    opacity: 0;
  }
}

.gs-button {
  width: 100%;
  max-width: var(--gs-button-width, max-content);
  min-width: var(--gs-button-min-width, 57px);
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: var(--gs-button-margin, 0);
  padding: var(--gs-button-padding, 0.4rem 0.6rem);
  box-sizing: border-box;
  user-select: none;
  overflow: visible;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border-radius: var(--gs-button-radius, var(--gs-theme-radius-small));
  font-family: var(--gs-button-family, var(--gs-theme-family-action));
  font-size: var(--gs-button-size, var(--gs-theme-size-action));
  font-weight: var(--gs-button-weight, var(--gs-theme-weight-action));
  line-height: var(--gs-button-line-height, var(--gs-theme-line-height-action));
  background: var(--gs-button-fill, rgba(0, 0, 0, 0));
  color: var(--gs-button-ink, var(--gs-theme-secondary));
  border: 1px solid var(--gs-button-border, rgba(0, 0, 0, 0));
}
.gs-button:hover {
  --gs-button-fill: rgba(180, 180, 180, 0.2);
  --gs-button-ink: var(--gs-theme-secondary);
  --gs-button-border: rgba(180, 180, 180, 0.02);
}
.gs-button:focus {
  --gs-button-fill: rgba(180, 180, 180, 0.2);
  --gs-button-ink: var(--gs-theme-secondary);
  --gs-button-border: rgba(180, 180, 180, 0.02);
}
.gs-button:active {
  --gs-button-fill: rgba(180, 180, 180, 0.33);
  --gs-button-ink: var(--gs-theme-secondary-light);
  --gs-button-border: rgba(180, 180, 180, 0.033);
}
.gs-button:disabled {
  --gs-button-ink: var(--gs-theme-secondary-dark);
}
.gs-button:disabled:hover {
  --gs-button-fill: rgba(0, 0, 0, 0);
  --gs-button-border: rgba(0, 0, 0, 0);
}
.gs-button.gs-button--outlined {
  background: var(--gs-button-fill, rgba(0, 0, 0, 0));
  color: var(--gs-button-ink, var(--gs-theme-secondary));
  border: 1px solid var(--gs-button-border, var(--gs-theme-secondary));
}
.gs-button.gs-button--outlined:focus {
  --gs-button-fill: rgba(180, 180, 180, 0.2);
  --gs-button-ink: var(--gs-theme-secondary);
  --gs-button-border: var(--gs-theme-secondary);
}
.gs-button.gs-button--outlined:hover {
  --gs-button-fill: var(--gs-theme-secondary);
  --gs-button-ink: var(--gs-theme-on-secondary);
  --gs-button-border: var(--gs-theme-secondary);
}
.gs-button.gs-button--outlined:active {
  --gs-button-fill: var(--gs-theme-secondary-light);
  --gs-button-ink: var(--gs-theme-on-secondary);
  --gs-button-border: var(--gs-theme-secondary-light);
}
.gs-button.gs-button--outlined:disabled {
  --gs-button-ink: var(--gs-theme-secondary-dark);
  --gs-button-border: var(--gs-theme-secondary-dark);
}
.gs-button.gs-button--outlined:disabled:hover {
  --gs-button-fill: rgba(0, 0, 0, 0);
  --gs-button-ink: var(--gs-theme-secondary-dark);
  --gs-button-border: var(--gs-theme-secondary-dark);
}
.gs-button.gs-button--filled {
  background: var(--gs-button-fill, var(--gs-theme-secondary));
  color: var(--gs-button-ink, var(--gs-theme-on-secondary));
  border: 1px solid var(--gs-button-border, var(--gs-theme-secondary));
}
.gs-button.gs-button--filled:hover {
  --gs-button-fill: var(--gs-theme-secondary);
  --gs-button-ink: var(--gs-theme-on-secondary);
  --gs-button-border: var(--gs-theme-secondary);
}
.gs-button.gs-button--filled:focus {
  --gs-button-fill: var(--gs-theme-secondary);
  --gs-button-ink: var(--gs-theme-on-secondary);
  --gs-button-border: var(--gs-theme-secondary);
}
.gs-button.gs-button--filled:active {
  --gs-button-fill: var(--gs-theme-secondary-light);
  --gs-button-ink: var(--gs-theme-on-secondary);
  --gs-button-border: var(--gs-theme-secondary-light);
}
.gs-button.gs-button--filled:disabled {
  --gs-button-fill: var(--gs-theme-secondary-dark);
  --gs-button-ink: var(--gs-theme-on-secondary);
  --gs-button-border: var(--gs-theme-secondary-dark);
}
.gs-button.gs-button--filled:disabled:hover {
  --gs-button-fill: var(--gs-theme-secondary-dark);
  --gs-button-ink: var(--gs-theme-on-secondary);
  --gs-button-border: var(--gs-theme-secondary-dark);
}
.gs-button > * + * {
  margin-left: var(--gs-button-gap, 3px);
}
.gs-button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
.gs-button:disabled {
  cursor: default;
}
.gs-button.gs-button--icon-only, .gs-button.gs-button--icon-only:focus {
  outline: none !important;
  border: none transparent !important;
}
.gs-button .gs-button__icon {
  width: var(--gs-button-icon-size, 1.25rem);
  max-width: max-content;
  height: var(--gs-button-icon-size, 1.25rem);
  position: relative;
  font-size: var(--gs-button-icon-size, 1.25rem);
  color: var(--gs-button-icon-ink, inherit);
  box-sizing: border-box;
}
.gs-button .gs-button__label {
  font-weight: inherit;
  font-size: inherit;
  text-align: center;
  color: inherit;
  box-sizing: border-box;
}

a.gs-link {
  color: var(--gs-link-ink, var(--gs-theme-secondary));
  text-decoration: underline;
}
a.gs-link:hover {
  color: var(--gs-link-hover-ink, var(--gs-theme-secondary));
}
a.gs-link:focus {
  color: var(--gs-link-focus-ink, var(--gs-theme-secondary));
}
a.gs-link:active {
  color: var(--gs-link-active-ink, var(--gs-theme-secondary-light));
}

.gs-button.gs-button--full-width {
  --gs-button-width: 100%;
}

.gs-button.gs-button--funky {
  --gs-button-fill: rgba(0, 0, 0, 0);
  --gs-button-ink: lime;
  --gs-button-border: lime;
}
.gs-button.gs-button--funky:focus {
  --gs-button-fill: rgba(180, 180, 180, 0.2);
  --gs-button-ink: lime;
  --gs-button-border: lime;
}
.gs-button.gs-button--funky:hover {
  --gs-button-fill: lime;
  --gs-button-ink: purple;
  --gs-button-border: lime;
}
.gs-button.gs-button--funky:active {
  --gs-button-fill: #a3ffa3;
  --gs-button-ink: purple;
  --gs-button-border: #a3ffa3;
}
.gs-button.gs-button--funky:disabled {
  --gs-button-ink: #008b00;
  --gs-button-border: #008b00;
}
.gs-button.gs-button--funky:disabled:hover {
  --gs-button-fill: rgba(0, 0, 0, 0);
  --gs-button-ink: #008b00;
  --gs-button-border: #008b00;
}

.gs-card {
  width: var(--gs-card-width, 100%);
  height: var(--gs-card-height, auto);
  margin: var(--gs-card-margin, 0);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow: hidden;
  border: none !important;
  box-sizing: border-box;
  background: var(--gs-button-fill, var(--gs-theme-primary-light));
  color: var(--gs-button-ink, var(--gs-theme-on-primary));
  border: 1px solid var(--gs-button-border, var(--gs-theme-primary-light));
  border-radius: var(--gs-button-radius, var(--gs-theme-radius-medium));
  font-family: var(--gs-button-family, var(--gs-theme-family-body));
  font-size: var(--gs-button-size, var(--gs-theme-size-body));
  font-weight: var(--gs-button-weight, var(--gs-theme-weight-body));
  line-height: var(--gs-button-line-height, var(--gs-theme-line-height-body));
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.275), 0px 3px 4px 0px rgba(0, 0, 0, 0.215), 0px 1px 8px 0px rgba(0, 0, 0, 0.195);
  -ms-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.275), 0px 3px 4px 0px rgba(0, 0, 0, 0.215), 0px 1px 8px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.275), 0px 3px 4px 0px rgba(0, 0, 0, 0.215), 0px 1px 8px 0px rgba(0, 0, 0, 0.195);
}
.gs-card.gs-card--horizontal {
  flex-direction: row;
}
.gs-card.gs-card--horizontal .gs-card__media {
  height: 100%;
}
.gs-card.gs-card--horizontal .gs-card__actions {
  flex-direction: column;
}
.gs-card.gs-card--horizontal .gs-card__actions > * + * {
  margin-top: var(--gs-card-gap, 0.3rem);
  margin-left: 0 !important;
}
.gs-card.gs-card--vertical {
  flex-direction: column;
}
.gs-card.gs-card--vertical .gs-card__media {
  height: 8.75rem;
}
.gs-card.gs-card--vertical .gs-card__actions {
  flex-direction: row;
}
.gs-card.gs-card--vertical .gs-card__actions > * + * {
  margin-left: var(--gs-card-gap, 0.3rem);
}
.gs-card .gs-card__media {
  width: 100%;
  height: 8.75rem;
  overflow-y: hidden;
  user-select: none;
}
.gs-card .gs-card__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gs-card .gs-card__contents {
  padding: var(--gs-card-padding, 1rem);
}
.gs-card .gs-card__contents > * + * {
  margin-top: 0.7rem;
}
.gs-card .gs-card__contents .gs-card__header .gs-card__title {
  font-size: var(--gs-card-title-size, var(--gs-theme-size-title));
  line-height: var(--gs-card-title-line-height, var(--gs-theme-line-height-title));
}
.gs-card .gs-card__contents .gs-card__header .gs-card__description {
  display: -webkit-box;
  font-size: inherit;
  line-height: inherit;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.gs-card .gs-card__contents .gs-card__header .gs-card__category {
  margin-bottom: 0.3rem;
  color: var(--gs-card-category-ink, var(--gs-theme-secondary));
  font-size: var(--gs-card-category-size, var(--gs-theme-size-body));
  line-height: var(--gs-card-category-line-height, var(--gs-theme-line-height-body));
}
.gs-card .gs-card__contents .gs-card__actions {
  display: flex;
  flex-wrap: nowrap;
}
.gs-card .gs-card__contents .gs-card__actions.items-left {
  justify-content: flex-start;
}
.gs-card .gs-card__contents .gs-card__actions.items-center {
  justify-content: center;
}
.gs-card .gs-card__contents .gs-card__actions.items-right {
  justify-content: flex-end;
}
.gs-card .gs-card__contents .gs-card__actions > * {
  max-width: 100%;
  flex-basis: 100%;
}
.gs-card .gs-card__contents .gs-card__actions > * + * {
  margin-left: var(--gs-card-gap, 0.3rem);
}

.gs-drawer {
  width: 100%;
  max-width: 342px;
  height: 100vh;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 99;
  padding: 0.7rem;
  overflow-y: hidden;
  background: var(--gs-drawer-fill, var(--gs-theme-primary-light));
  color: var(--gs-drawer-ink, var(--gs-theme-surface));
  border: 1px solid var(--gs-drawer-border, var(--gs-theme-primary-light));
  border-radius: var(--gs-drawer-radius, none);
  --gs-drawer-family: var(--gs-theme-family-action);
  --gs-drawer-size: var(--gs-theme-size-action);
  --gs-drawer-weight: var(--gs-theme-weight-body);
  --gs-drawer-line-height: var(--gs-theme-line-height-body);
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
  -ms-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
}
.gs-drawer .gs-drawer__wrapper {
  display: flex;
  flex-flow: column nowrap;
}
.gs-drawer .gs-drawer__wrapper > * + * {
  margin-top: 0.5rem;
}
.gs-drawer .gs-drawer__wrapper .gs-drawer-item {
  padding: 0.4rem 0.6rem;
  list-style: none;
  background: var(--gs-drawer-item-fill, rgba(0, 0, 0, 0));
  color: var(--gs-drawer-item-ink, var(--gs-theme-surface));
  border: 1px solid var(--gs-drawer-item-border, rgba(0, 0, 0, 0));
  border-radius: var(--gs-drawer-item-radius, var(--gs-theme-radius-small));
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.gs-drawer .gs-drawer__wrapper .gs-drawer-item:hover {
  --gs-drawer-item-fill: rgba(180, 180, 180, 0.2);
  --gs-drawer-item-ink: var(--gs-theme-surface);
  --gs-drawer-item-border: rgba(180, 180, 180, 0.02);
}
.gs-drawer .gs-drawer__wrapper .gs-drawer-item:focus {
  --gs-drawer-item-fill: rgba(180, 180, 180, 0.2);
  --gs-drawer-item-ink: var(--gs-theme-surface);
  --gs-drawer-item-border: rgba(180, 180, 180, 0.02);
}
.gs-drawer .gs-drawer__wrapper .gs-drawer-item:active {
  --gs-drawer-item-fill: rgba(180, 180, 180, 0.33);
  --gs-drawer-item-ink: var(--gs-theme-surface-light);
  --gs-drawer-item-border: rgba(180, 180, 180, 0.033);
}
.gs-drawer .gs-drawer__wrapper .gs-drawer-item.active {
  --gs-drawer-item-fill: rgba(180, 180, 180, 0.33);
  --gs-drawer-item-border: rgba(180, 180, 180, 0.033);
}
.gs-drawer .gs-drawer__wrapper .gs-drawer-item.active .gs-drawer-item__label {
  font-weight: 700 !important;
}
.gs-drawer .gs-drawer__wrapper .gs-drawer-item a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.gs-drawer .gs-drawer__wrapper .gs-drawer-item a > * + * {
  margin-left: 0.5rem;
}
.gs-drawer .gs-drawer__wrapper .gs-drawer-item a .gs-drawer-item__icon {
  color: inherit;
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
.gs-drawer .gs-drawer__wrapper .gs-drawer-item a .gs-appbar-item__label {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.gs-header {
  width: var(--gs-header-width, 100%);
  height: var(--gs-header-height, auto);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: var(--gs-header-padding, 0.7rem 0.9rem);
  border-radius: var(--gs-header-radius, none);
  --gs-header-family: var(--gs-theme-family-title);
  --gs-header-size: 1.5rem;
  --gs-header-weight: var(--gs-theme-weight-title);
  --gs-header-line-height: 1.75rem;
  background: var(--gs-header-fill, var(--gs-theme-primary));
  color: var(--gs-header-ink, var(--gs-theme-on-primary));
  border: 1px solid var(--gs-header-border, var(--gs-theme-primary));
}
.gs-header .gs-header__wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}
.gs-header .gs-header__wrapper .gs-header__brand {
  display: grid;
  place-items: center;
}
.gs-header .gs-header__wrapper .gs-header__brand a {
  display: grid;
  place-items: center;
}
.gs-header .gs-header__wrapper .gs-header__brand a .gs-header__title {
  font-family: var(--gs-header-family);
  font-size: var(--gs-header-size);
  font-weight: var(--gs-header-weight);
  line-height: var(--gs-header-line-height);
}
.gs-header .gs-header__wrapper .gs-header__brand a .gs-header__logo {
  height: 33px;
}
.grid {
  margin-top: 0.7rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}
.grid > a {
  grid-column: revert;
}
@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid > a {
    grid-column: span 2;
  }
}
@media (min-width: 877px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid > a {
    grid-column: revert;
  }
}
/*# sourceMappingURL=main.css.map */