@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --sc-theme--primary-light: #516f9f;
  --sc-theme--primary: #12305e;
  --sc-theme--primary-dark: #071835;
  --sc-theme--secondary-light: #ffbd58;
  --sc-theme--secondary: #ff9e0a;
  --sc-theme--secondary-dark: #8c5500;
  --sc-theme--on-primary: #fff;
  --sc-theme--on-secondary: #000;
  --sc-theme--error: #b00020;
  --sc-theme--warning: #ffa000;
  --sc-theme--success: #25a53f;
  --sc-theme--on-error: #ffffff;
  --sc-theme--on-warning: #000000;
  --sc-theme--on-success: #ffffff;
  --sc-theme--small-radius: 0.3rem;
  --sc-theme--medium-radius: 0.5rem;
  --sc-theme--large-radius: 0.7rem;
  /* ===== */
  --sc-theme--surface: #001021;
  --sc-theme--on-surface: #ffffff;
}

.dark-theme {
  --sc-theme--primary-light: #5c7bac;
  --sc-theme--primary: #244271;
  --sc-theme--primary-dark: #0f2240;
  --sc-theme--secondary-light: #ffca7a;
  --sc-theme--secondary: #ffb13c;
  --sc-theme--secondary-dark: #906017;
  --sc-theme--on-primary: #fff;
  --sc-theme--on-secondary: #000;
  --sc-theme--error: #b00020;
  --sc-theme--warning: #ffa000;
  --sc-theme--success: #25a53f;
  --sc-theme--on-error: #ffffff;
  --sc-theme--on-warning: #000000;
  --sc-theme--on-success: #ffffff;
  --sc-theme--small-radius: 0.3rem;
  --sc-theme--medium-radius: 0.5rem;
  --sc-theme--large-radius: 0.7rem;
  /* ===== */
  --sc-theme--surface: #181818;
  --sc-theme--on-surface: #ffffff;
}

*:not(code) {
  font-family: var(--global-family, Inter, sans-serif);
  font-weight: var(--global-weight, 400);
  color: inherit;
}
*:not(code)::before, *:not(code)::after {
  font-family: var(--global-family, Inter, sans-serif);
  font-weight: var(--global-weight, 400);
  color: inherit;
}

a {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3 {
  font-family: var(--sc-title-family, Inter, sans-serif);
  font-weight: var(--sc-title-weight, 700);
}

h4,
h5,
h6 {
  font-family: var(--sc-subtitle-family, Inter, sans-serif);
  font-weight: var(--sc-subtitle-weight, 400);
}

p {
  font-family: var(--sc-body-family, Inter, sans-serif);
  font-weight: var(--sc-body-weight, 400);
}

b {
  font-weight: 700;
  color: inherit;
}

code,
.code {
  font-family: "Source Code Pro", monospace;
}

html {
  font-size: 100%;
}

/*** The new CSS Reset - version 1.3.1 (last updated 28.10.2021) ***/
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--sc-theme--surface);
  color: var(--sc-theme--on-surface);
}

.wrap--content {
  display: grid;
  grid-gap: 20px;
  padding: 65px 0 60px 0;
  width: calc(100% - 20px);
  max-width: 1077px;
  margin: 0 auto;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.7rem;
}
@media (min-width: 577px) {
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 870px) {
  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.7rem;
}
@media (min-width: 577px) {
  .grid-4 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 870px) {
  .grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;
}
@media (min-width: 577px) {
  .grid-5 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 870px) {
  .grid-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}

.sc-alert {
  width: 100%;
  padding: 0.3rem 0.5rem;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 18px auto;
  align-items: center;
  box-sizing: border-box;
  border-radius: var(--sc-alert-radius, var(--sc-theme--small-radius));
  font-size: var(--sc-alert-text-size, 0.875rem);
  color: var(--sc-alert-ink, var(--sc-theme--on-primary));
  border: 1px solid var(--sc-alert-fill, var(--sc-theme--primary-light));
  background: var(--sc-alert-fill, var(--sc-theme--primary-light));
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
  -ms-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.275), 0px 3px 4px 0px rgba(0, 0, 0, 0.215), 0px 1px 8px 0px rgba(0, 0, 0, 0.195);
  -ms-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.275), 0px 3px 4px 0px rgba(0, 0, 0, 0.215), 0px 1px 8px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.275), 0px 3px 4px 0px rgba(0, 0, 0, 0.215), 0px 1px 8px 0px rgba(0, 0, 0, 0.195);
}
.sc-alert.sc-alert--success {
  color: var(--sc-alert-ink, var(--sc-theme--on-success));
  border: 1px solid var(--sc-alert-fill, var(--sc-theme--success));
  background: var(--sc-alert-fill, var(--sc-theme--success));
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
  -ms-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
}
.sc-alert.sc-alert--warning {
  color: var(--sc-alert-ink, var(--sc-theme--on-warning));
  border: 1px solid var(--sc-alert-fill, var(--sc-theme--warning));
  background: var(--sc-alert-fill, var(--sc-theme--warning));
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
  -ms-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
}
.sc-alert.sc-alert--error {
  color: var(--sc-alert-ink, var(--sc-theme--on-error));
  border: 1px solid var(--sc-alert-fill, var(--sc-theme--error));
  background: var(--sc-alert-fill, var(--sc-theme--error));
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
  -ms-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
}
.sc-alert * {
  box-sizing: border-box;
}
.sc-alert .sc-alert__icon {
  display: inline-block;
  font-size: var(--sc-alert-icon-size, 1.25rem);
  color: var(--sc-alert-icon-ink, inherit);
}
.sc-alert .sc-alert__text {
  display: inline-block;
  font-size: var(--sc-alert-text-size, inherit);
  color: var(--sc-alert-text-ink, inherit);
}

.sc-appbar {
  width: 100%;
  position: fixed;
  padding: 0.5rem 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
  color: var(--sc-appbar-ink, var(--sc-theme--on-primary));
  border: 1px solid var(--sc-appbar-fill, var(--sc-theme--primary));
  background: var(--sc-appbar-fill, var(--sc-theme--primary));
  border-radius: var(--sc-appbar-radius, 0);
  font-size: var(--sc-appbar-text-size, 0.75rem);
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
  -ms-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
}
@media (min-width: 577px) {
  .sc-appbar {
    width: max-content;
    bottom: inherit;
    position: relative;
    padding: 0.3rem 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
.sc-appbar * {
  box-sizing: border-box;
}
.sc-appbar .sc-appbar__container {
  display: grid;
  grid-column: 1/-1;
  padding: 0.3rem 0;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  grid-gap: 0.5rem;
  text-align: center;
  height: max-content;
}
@media (min-width: 577px) {
  .sc-appbar .sc-appbar__container {
    width: 200px;
    padding: 0;
    text-align: right;
  }
}
.sc-appbar .sc-appbar__container .sc-appbar__item {
  height: 24px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  color: var(--sc-appbar-item-ink, inherit) !important;
}
.sc-appbar .sc-appbar__container .sc-appbar__item > a, .sc-appbar .sc-appbar__container .sc-appbar__item > p {
  display: block;
  color: inherit;
}
.sc-appbar .sc-appbar__container .sc-appbar__item > a:hover, .sc-appbar .sc-appbar__container .sc-appbar__item > p:hover {
  filter: brightness(70%);
}
.sc-appbar .sc-appbar__container .sc-appbar__item.active {
  color: var(--sc-appbar-item-ink--active, var(--sc-theme--secondary)) !important;
}
.sc-appbar .sc-appbar__container .sc-appbar__item .sc-appbar__item__icon {
  font-size: var(--sc-appbar-item-icon-size, 1.5rem);
  color: inherit;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@media (min-width: 577px) {
  .sc-appbar .sc-appbar__container .sc-appbar__item .sc-appbar__item__icon {
    margin-top: 4px;
  }
}
.sc-appbar .sc-appbar__container .sc-appbar__item .sc-appbar__item__label {
  font-size: var(--sc-appbar-item-text-size, 0.75rem) !important;
  color: inherit !important;
}
@media (min-width: 577px) {
  .sc-appbar .sc-appbar__container .sc-appbar__item .sc-appbar__item__label {
    display: none !important;
  }
}
.sc-appbar .sc-appbar__container .sc-appbar__item[data-tooltip] {
  position: relative;
  box-sizing: border-box;
}
.sc-appbar .sc-appbar__container .sc-appbar__item[data-tooltip]::after {
  content: attr(data-tooltip);
  display: block;
  position: absolute;
  padding: 0.5rem 0.6rem;
  font-size: 0.75rem;
  bottom: calc(-100% - 15px);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  color: var(--sc-tooltip-ink, #ffffff);
  border: 1px solid var(--sc-tooltip-fill, #232323);
  background: var(--sc-tooltip-fill, #232323);
  border-radius: var(--sc-tooltip-radius, var(--sc-theme--small-radius));
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
  -ms-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
}
@media (max-width: 577px) {
  .sc-appbar .sc-appbar__container .sc-appbar__item[data-tooltip]::after {
    display: none !important;
    opacity: 0 !important;
  }
}
.sc-appbar .sc-appbar__container .sc-appbar__item[data-tooltip]:hover::after {
  opacity: 1;
}

.sc-button {
  width: max-content;
  min-width: 57px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.6rem;
  line-height: inherit;
  user-select: none;
  overflow: visible;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  color: var(--sc-button-fill, var(--sc-theme--secondary));
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: none;
  background: rgba(0, 0, 0, 0);
  border-radius: var(--sc-button-radius, var(--sc-button-radius, var(--sc-theme--small-radius)));
  font-size: var(--sc-button-text-size, 0.875rem);
  font-weight: var(--sc-button-text-weight, 700);
  text-decoration: var(--sc-button-text-decoration, inherit);
  text-transform: var(--sc-button-text-transform, inherit);
}
.sc-button:hover {
  color: var(--sc-button-fill--hover, var(--sc-theme--secondary));
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: none;
  background: rgba(175, 175, 175, 0.15);
  cursor: pointer;
}
.sc-button:focus {
  color: var(--sc-button-fill--focus, var(--sc-theme--secondary));
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: none;
  background: rgba(175, 175, 175, 0.15);
  border: 1px solid rgba(175, 175, 175, 0.66);
}
.sc-button:active {
  color: var(--sc-button-fill--active, var(--sc-theme--secondary-light));
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: none;
  background: rgba(175, 175, 175, 0.15);
  border: 1px solid rgba(175, 175, 175, 0.66);
}
.sc-button:disabled {
  color: var(--sc-button-fill--disabled, var(--sc-theme--secondary-dark));
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: none;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  pointer-events: none;
}
.sc-button.sc-button--outlined {
  color: var(--sc-button-fill, var(--sc-theme--secondary));
  background: rgba(0, 0, 0, 0);
  border: 1px solid var(--sc-button-fill, var(--sc-theme--secondary));
  box-shadow: none;
}
.sc-button.sc-button--outlined:hover {
  color: var(--sc-button-ink--hover, var(--sc-theme--on-secondary));
  background: var(--sc-button-fill--hover, var(--sc-theme--secondary));
  border: 1px solid var(--sc-button-fill--hover, var(--sc-theme--secondary));
  box-shadow: none;
  cursor: pointer;
}
.sc-button.sc-button--outlined:focus {
  color: var(--sc-button-ink--focus, var(--sc-theme--on-secondary));
  background: var(--sc-button-fill--focus, var(--sc-theme--secondary));
  border: 1px solid var(--sc-button-fill--focus, var(--sc-theme--secondary));
  box-shadow: none;
  outline: 2px solid rgba(175, 175, 175, 0.66);
}
.sc-button.sc-button--outlined:active {
  color: var(--sc-button-ink--active, var(--sc-theme--on-secondary));
  background: var(--sc-button-fill--active, var(--sc-theme--secondary-light));
  border: 1px solid var(--sc-button-fill--active, var(--sc-theme--secondary-light));
  box-shadow: none;
}
.sc-button.sc-button--outlined:disabled {
  color: var(--sc-button-fill--disabled, var(--sc-theme--secondary-dark));
  background: rgba(0, 0, 0, 0);
  border: 1px solid var(--sc-button-fill--disabled, var(--sc-theme--secondary-dark));
  box-shadow: none;
  cursor: pointer;
  pointer-events: none;
}
.sc-button.sc-button--filled {
  color: var(--sc-button-ink, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill, var(--sc-theme--secondary));
  background: var(--sc-button-fill, var(--sc-theme--secondary));
  box-shadow: none;
}
.sc-button.sc-button--filled:hover {
  color: var(--sc-button-ink--hover, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--hover, var(--sc-theme--secondary));
  background: var(--sc-button-fill--hover, var(--sc-theme--secondary));
  cursor: pointer;
}
.sc-button.sc-button--filled:focus {
  color: var(--sc-button-ink--focus, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--focus, var(--sc-theme--secondary));
  background: var(--sc-button-fill--focus, var(--sc-theme--secondary));
  outline: 2px solid rgba(175, 175, 175, 0.66);
}
.sc-button.sc-button--filled:active {
  color: var(--sc-button-ink--active, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--active, var(--sc-theme--secondary-light));
  background: var(--sc-button-fill--active, var(--sc-theme--secondary-light));
}
.sc-button.sc-button--filled:disabled {
  color: var(--sc-button-ink--disabled, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--disabled, var(--sc-theme--secondary-dark));
  background: var(--sc-button-fill--disabled, var(--sc-theme--secondary-dark));
  box-shadow: none;
  cursor: pointer;
  pointer-events: none;
}
.sc-button.sc-button--filled {
  color: var(--sc-button-ink, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill, var(--sc-theme--secondary));
  background: var(--sc-button-fill, var(--sc-theme--secondary));
  box-shadow: none;
}
.sc-button.sc-button--filled:hover {
  color: var(--sc-button-ink--hover, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--hover, var(--sc-theme--secondary));
  background: var(--sc-button-fill--hover, var(--sc-theme--secondary));
  cursor: pointer;
}
.sc-button.sc-button--filled:focus {
  color: var(--sc-button-ink--focus, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--focus, var(--sc-theme--secondary));
  background: var(--sc-button-fill--focus, var(--sc-theme--secondary));
  outline: 2px solid rgba(175, 175, 175, 0.66);
}
.sc-button.sc-button--filled:active {
  color: var(--sc-button-ink--active, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--active, var(--sc-theme--secondary-light));
  background: var(--sc-button-fill--active, var(--sc-theme--secondary-light));
}
.sc-button.sc-button--filled:disabled {
  color: var(--sc-button-ink--disabled, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--disabled, var(--sc-theme--secondary-dark));
  background: var(--sc-button-fill--disabled, var(--sc-theme--secondary-dark));
  box-shadow: none;
  cursor: pointer;
  pointer-events: none;
}
.sc-button.sc-button--filled--raised {
  color: var(--sc-button-ink, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill, var(--sc-theme--secondary));
  background: var(--sc-button-fill, var(--sc-theme--secondary));
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
  -ms-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
}
.sc-button.sc-button--filled--raised:hover {
  color: var(--sc-button-ink--hover, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--hover, var(--sc-theme--secondary));
  background: var(--sc-button-fill--hover, var(--sc-theme--secondary));
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.275), 0px 4px 5px 0px rgba(0, 0, 0, 0.215), 0px 1px 10px 0px rgba(0, 0, 0, 0.195);
  -ms-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.275), 0px 4px 5px 0px rgba(0, 0, 0, 0.215), 0px 1px 10px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.275), 0px 4px 5px 0px rgba(0, 0, 0, 0.215), 0px 1px 10px 0px rgba(0, 0, 0, 0.195);
  cursor: pointer;
}
.sc-button.sc-button--filled--raised:focus {
  color: var(--sc-button-ink--focus, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--focus, var(--sc-theme--secondary));
  background: var(--sc-button-fill--focus, var(--sc-theme--secondary));
  outline: 2px solid rgba(175, 175, 175, 0.66);
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.275), 0px 4px 5px 0px rgba(0, 0, 0, 0.215), 0px 1px 10px 0px rgba(0, 0, 0, 0.195);
  -ms-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.275), 0px 4px 5px 0px rgba(0, 0, 0, 0.215), 0px 1px 10px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.275), 0px 4px 5px 0px rgba(0, 0, 0, 0.215), 0px 1px 10px 0px rgba(0, 0, 0, 0.195);
}
.sc-button.sc-button--filled--raised:active {
  color: var(--sc-button-ink--active, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--active, var(--sc-theme--secondary-light));
  background: var(--sc-button-fill--active, var(--sc-theme--secondary-light));
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 6px 10px 0px rgba(0, 0, 0, 0.215), 0px 1px 18px 0px rgba(0, 0, 0, 0.195);
  -ms-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 6px 10px 0px rgba(0, 0, 0, 0.215), 0px 1px 18px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 6px 10px 0px rgba(0, 0, 0, 0.215), 0px 1px 18px 0px rgba(0, 0, 0, 0.195);
}
.sc-button.sc-button--filled--raised:disabled {
  color: var(--sc-button-ink--disabled, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--disabled, var(--sc-theme--secondary-dark));
  background: var(--sc-button-fill--disabled, var(--sc-theme--secondary-dark));
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
  -ms-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
  cursor: pointer;
  pointer-events: none;
}
.sc-button[data-tooltip] {
  position: relative;
  box-sizing: border-box;
}
.sc-button[data-tooltip]::after {
  content: attr(data-tooltip);
  display: block;
  position: absolute;
  padding: 0.5rem 0.6rem;
  font-size: 0.75rem;
  bottom: 100%;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  color: var(--sc-tooltip-ink, #ffffff);
  border: 1px solid var(--sc-tooltip-fill, #232323);
  background: var(--sc-tooltip-fill, #232323);
  border-radius: var(--sc-tooltip-radius, var(--sc-theme--small-radius));
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
  -ms-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
}
@media (max-width: 577px) {
  .sc-button[data-tooltip]::after {
    display: none !important;
    opacity: 0 !important;
  }
}
.sc-button[data-tooltip]:hover::after {
  opacity: 1;
}
.sc-button > * + * {
  margin-left: var(--sc-button-gap, 3px);
}
.sc-button * {
  box-sizing: border-box;
}
.sc-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.sc-button.sc-button--icon-only, .sc-button.sc-button--icon-only:focus {
  outline: none !important;
  border: none transparent !important;
}
.sc-button .sc-button__label {
  font-weight: inherit;
  font-size: inherit;
  text-align: left;
  color: inherit;
}
.sc-button .sc-button__icon {
  font-size: var(--sc-button-icon-size, 1.25rem);
  position: relative;
  color: var(--sc-button-icon-ink, inherit);
  /* @fallback */
  width: var(--sc-button-icon-size, 1.25rem);
  height: var(--sc-button-icon-size, 1.25rem);
}

.sc-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  margin: 0;
  border: none !important;
  box-sizing: border-box;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  color: var(--sc-card-ink, var(--sc-theme--on-primary));
  border: 1px solid var(--sc-card-fill, var(--sc-theme--primary-light));
  background: var(--sc-card-fill, var(--sc-theme--primary-light));
  border-radius: var(--sc-card-radius, var(--sc-theme--small-radius));
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.275), 0px 3px 4px 0px rgba(0, 0, 0, 0.215), 0px 1px 8px 0px rgba(0, 0, 0, 0.195);
  -ms-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.275), 0px 3px 4px 0px rgba(0, 0, 0, 0.215), 0px 1px 8px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.275), 0px 3px 4px 0px rgba(0, 0, 0, 0.215), 0px 1px 8px 0px rgba(0, 0, 0, 0.195);
}
.sc-card * {
  box-sizing: border-box;
}
.sc-card .sc-card__media {
  width: 100%;
  height: 140px !important;
  overflow-y: hidden;
}
.sc-card .sc-card__media img {
  width: 100%;
  height: auto !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.sc-card .sc-card__content {
  padding: 0.8rem;
  color: inherit;
  overflow: hidden;
}
.sc-card .sc-card__content .sc-card__title {
  display: flex;
  align-items: center;
}
.sc-card .sc-card__content .sc-card__title h1,
.sc-card .sc-card__content .sc-card__title h2,
.sc-card .sc-card__content .sc-card__title h3 {
  color: inherit;
  font-size: var(--sc-card-title-text-size, 1.25rem);
  line-height: 1.75rem;
}
.sc-card .sc-card__content .sc-card__title .sc-card__title__icon {
  font-size: 1.375rem;
  margin-bottom: 0.175rem;
  margin-right: 0.3rem;
  color: var(--sc-card-title-icon-ink, var(--sc-theme--secondary));
}
.sc-card .sc-card__content .sc-card__subtitle {
  font-size: var(--sc-card-subtitle-text-size, 0.8125rem);
  color: inherit;
  word-break: break-word;
  overflow: hidden;
  text-align: left;
  line-height: 1.125rem;
}
.sc-card .sc-card__content .sc-card__actions {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-top: 0.7rem;
  top: 0.3rem;
  left: 0.3rem;
}
.sc-card .sc-card__content .sc-card__actions > * + * {
  margin-left: 0.5rem;
}
.sc-card .sc-card__content .sc-card__actions a {
  width: max-content;
}
.sc-card .sc-card__content .sc-card__actions a .sc-card__action {
  min-width: 24px;
  padding: 0.3rem 0.5rem;
}
.sc-card .sc-card__content .sc-card__actions a .sc-card__action.sc-button--outlined.sc-button--icon, .sc-card .sc-card__content .sc-card__actions a .sc-card__action.sc-button--filled.sc-button--icon {
  padding: 0.5rem;
  border-radius: 50%;
}

.sc-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  height: auto;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: var(--sc-header-ink, var(--sc-theme--on-primary));
  border: 1px solid var(--sc-header-fill, var(--sc-theme--primary));
  background: var(--sc-header-fill, var(--sc-theme--primary));
  border-radius: var(--sc-header-radius, 0);
  font-size: var(--sc-header-text-size, 1.625rem);
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
  -ms-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
}
.sc-header * {
  box-sizing: border-box;
}
.sc-header .sc-header__wrap {
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  position: relative;
  font-size: inherit;
  padding: 0.3rem 0;
}
@media (min-width: 577px) {
  .sc-header .sc-header__wrap {
    width: calc(100% - 34px);
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .sc-header .sc-header__wrap {
    padding: 0.3rem 0;
  }
}
.sc-header .sc-header__wrap .sc-header__text {
  padding: 0.3rem 0.7rem;
  font-size: inherit;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.sc-header .sc-header__wrap .sc-header__text > * {
  color: inherit;
}
.sc-header .sc-header__wrap .sc-header__text h1,
.sc-header .sc-header__wrap .sc-header__text h2,
.sc-header .sc-header__wrap .sc-header__text h3 {
  font-size: inherit;
}
@media (min-width: 577px) {
  .sc-header .sc-header__wrap .sc-header__text {
    padding: 0.3rem 0.7rem 0.3rem 0;
  }
}
.sc-header .sc-header__wrap .sc-header__text.invisible {
  display: none;
}

.sc-profile {
  height: 110px;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 110px auto;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: var(--sc-profile-ink, var(--sc-theme--on-primary));
  border: 1px solid var(--sc-profile-fill, var(--sc-theme--primary-light));
  background: var(--sc-profile-fill, var(--sc-theme--primary-light));
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
  -ms-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
  border-radius: var(--sc-profile-radius, var(--sc-theme--small-radius));
  font-size: var(--sc-profile-text-size, 0.75rem);
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.275), 0px 3px 4px 0px rgba(0, 0, 0, 0.215), 0px 1px 8px 0px rgba(0, 0, 0, 0.195);
  -ms-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.275), 0px 3px 4px 0px rgba(0, 0, 0, 0.215), 0px 1px 8px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.275), 0px 3px 4px 0px rgba(0, 0, 0, 0.215), 0px 1px 8px 0px rgba(0, 0, 0, 0.195);
  border: none !important;
}
.sc-profile * {
  box-sizing: border-box;
}
.sc-profile .sc-profile__img {
  width: 110px;
  height: 110px;
  overflow: hidden;
}
.sc-profile .sc-profile__img img {
  width: 110px;
  height: 110px;
  object-fit: cover;
}
.sc-profile .sc-profile__contents {
  width: 100%;
  padding: 10px;
  overflow: hidden !important;
  word-break: break-word;
  color: inherit !important;
}
.sc-profile .sc-profile__contents h2 {
  font-size: 1.125rem;
  color: inherit !important;
}
.sc-profile .sc-profile__contents .sc-profile__text {
  margin-bottom: 7px;
  height: 30px;
  position: relative;
  color: inherit !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}
.sc-profile .sc-profile__contents .sc-profile__text::before {
  content: open-quote;
}
.sc-profile .sc-profile__contents .sc-profile__text::after {
  content: close-quote;
}
.sc-profile .sc-profile__contents .sc-profile__actions {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
.sc-profile .sc-profile__contents .sc-profile__actions .sc-profile__action {
  min-width: 0;
  margin: auto 0 0 13px !important;
  padding: 0;
  color: var(--sc-profile-action-icon-ink, var(--sc-theme--secondary));
}
.sc-profile .sc-profile__contents .sc-profile__actions .sc-profile__action.sc-button--outlined.sc-button--icon, .sc-profile .sc-profile__contents .sc-profile__actions .sc-profile__action.sc-button--filled.sc-button--icon {
  padding: 0.5rem;
  border-radius: 50%;
}

.sc-text-field {
  position: relative;
  margin: 0;
  cursor: text;
  width: 100%;
  box-sizing: border-box;
}
.sc-text-field * {
  box-sizing: border-box;
}
.sc-text-field .sc-text-field__label {
  width: max-content;
  font-size: 14px;
  padding: 0 0.7rem;
  position: absolute;
  top: 0.975rem;
  left: 0;
  user-select: none;
  color: var(--sc-text-field-ink, #232323);
  cursor: text;
  -webkit-transition: all 70ms ease;
  transition: all 70ms ease;
}
.sc-text-field .sc-text-field__input {
  width: 100%;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border-width: 2px !important;
  padding: 1.4rem 0.5rem 0.3rem 0.5rem;
  font-size: var(--sc-text-field-text-size, 0.9375rem);
  resize: none;
  border-bottom: 2px solid var(--sc-text-field-border-fill, var(--sc-theme--primary-light)) !important;
  color: var(--sc-text-field-ink, #000000);
  border: 1px solid var(--sc-text-field-fill, #cecece);
  background: var(--sc-text-field-fill, #cecece);
  border-radius: var(--sc-text-field-radius, var(--sc-theme--small-radius));
  font-size: var(--sc-text-field-text-size, 0.875rem);
}
.sc-text-field .sc-text-field__input:hover {
  cursor: text;
}
.sc-text-field .sc-text-field__input::placeholder {
  color: rgba(0, 0, 0, 0) !important;
  user-select: none !important;
}
.sc-text-field .sc-text-field__input:focus {
  outline: none;
  border-color: var(--sc-text-field-border-fill, var(--sc-theme--primary-light)) !important;
}
.sc-text-field .sc-text-field__input:focus-within, .sc-text-field .sc-text-field__input:not(:placeholder-shown) {
  padding: 1.4rem 0.6rem 0.3rem 0.6rem;
}
.sc-text-field .sc-text-field__input:focus-within + .sc-text-field__label, .sc-text-field .sc-text-field__input:not(:placeholder-shown) + .sc-text-field__label {
  width: auto;
  margin: 0 0 0 0.3rem;
  padding: 0 0.4rem;
  top: 0.4rem;
  font-size: 0.6875rem;
  pointer-events: none;
}
.sc-text-field .sc-text-field__helper {
  color: var(--sc-text-field-helper-ink, var(--sc-theme--on-surface));
  font-size: var(--sc-text-field-helper-size, 0.75rem);
  margin-top: 7px;
}
.sc-text-field.sc-text-field--error {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.sc-text-field.sc-text-field--error > * {
  border-bottom: 2px solid var(--sc-theme--error) !important;
  color: var(--sc-theme--error);
}
.sc-text-field.sc-text-field--error > *:focus {
  border-color: var(--sc-theme--error) !important;
}
.sc-text-field.sc-text-field--error > .sc-text-field__label {
  --sc-theme--placeholder: #e2e2e2 !important;
  border-bottom: none !important;
}
.sc-text-field.sc-text-field--error > .sc-text-field__helper {
  color: var(--sc-theme--error);
  border-bottom: none !important;
}

.sc-snackbar {
  position: fixed;
  width: calc(100% - 40px);
  max-width: 420px;
  padding: 0.5rem 0.6rem 0.5rem 1.2rem;
  z-index: 1000;
  bottom: 70px;
  right: 20px;
  border-left: none;
  box-sizing: border-box;
  color: var(--sc-snackbar-ink, #ffffff);
  border: 1px solid var(--sc-snackbar-fill, #232323);
  background: var(--sc-snackbar-fill, #232323);
  border-radius: var(--sc-snackbar-radius, var(--sc-theme--small-radius));
  font-size: var(--sc-snackbar-text-size, 0.875rem);
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
  -ms-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.sc-snackbar.sc-snackbar--error {
  border-left: 5px solid var(--sc-theme--error);
}
.sc-snackbar.sc-snackbar--success {
  border-left: 5px solid var(--sc-theme--success);
}
.sc-snackbar.sc-snackbar--warning {
  border-left: 5px solid var(--sc-theme--warning);
}
@media (min-width: 577px) {
  .sc-snackbar {
    bottom: 30px;
    right: 30px;
    left: auto;
  }
}
.sc-snackbar * {
  box-sizing: border-box;
}
.sc-snackbar .sc-snackbar__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sc-snackbar .sc-snackbar__wrap .sc-snackbar__label {
  font-size: var(--sc-snackbar-type-size, 0.9375rem);
}
.gs-pay-prompt__overlay {
  display: block;
  position: fixed;
  z-index: 9998;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.gs-pay-prompt {
  width: 100%;
  display: grid;
  grid-gap: 0.7rem;
  z-index: 9999;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: var(--sc-theme--primary-light);
  padding: 1rem;
  border-radius: var(--sc-gs-pay-prompt-radius, var(--sc-theme--medium-radius) var(--sc-theme--medium-radius) 0 0);
  -webkit-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.275), 0px 7px 10px 1px rgba(0, 0, 0, 0.215), 0px 2px 16px 1px rgba(0, 0, 0, 0.195);
  -ms-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.275), 0px 7px 10px 1px rgba(0, 0, 0, 0.215), 0px 2px 16px 1px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.275), 0px 7px 10px 1px rgba(0, 0, 0, 0.215), 0px 2px 16px 1px rgba(0, 0, 0, 0.195);
}
.gs-pay-prompt .gs-pay-prompt__info {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 0.5rem;
}
.gs-pay-prompt .gs-pay-prompt__info .gs-pay-prompt__media {
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.gs-pay-prompt .gs-pay-prompt__info .gs-pay-prompt__service {
  font-size: 1.125rem;
}
.gs-pay-prompt .gs-pay-prompt__info .gs-pay-prompt__service-link {
  font-size: 0.875rem;
}
.gs-pay-prompt .gs-pay-prompt__details {
  background-color: var(--sc-theme--primary);
  padding: 0.7rem;
  line-height: 1.25rem;
}
.gs-pay-prompt .gs-pay-prompt__details .gs-pay-prompt__item {
  font-size: 0.875rem;
}
.gs-pay-prompt .gs-pay-prompt__actions {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.gs-pay-prompt .gs-pay-prompt__actions > * + * {
  margin-left: 0.5rem;
}
/*# sourceMappingURL=style.css.map */