@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --sc-theme--primary-light: #426294;
  --sc-theme--primary: #12305e;
  --sc-theme--primary-dark: #081528;
  --sc-theme--secondary-light: #d7ba73;
  --sc-theme--secondary: #d49a10;
  --sc-theme--secondary-dark: #996f0c;
  --sc-theme--on-primary: #fff;
  --sc-theme--on-secondary: #000;
  --sc-theme--error: #b00020;
  --sc-theme--warning: #ffa000;
  --sc-theme--success: #25a53f;
  --sc-theme--on-error: #fff;
  --sc-theme--on-warning: #000;
  --sc-theme--on-success: #fff;
  --sc-theme--small-radius: 0.3rem;
  --sc-theme--medium-radius: 0.5rem;
  --sc-theme--large-radius: 0.7rem;
  --sc-theme--surface: #001021;
  --sc-theme--on-surface: #fff;
}

* {
  font-family: "Inter", sans-serif;
  color: inherit;
  font-weight: 400;
}
*::before, *::after {
  font-family: "Inter", sans-serif;
  color: inherit;
  font-weight: 400;
}

a {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

p {
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

b {
  font-weight: 700;
  color: inherit;
}

html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--sc-theme--surface);
  color: var(--sc-theme--on-surface);
}

.wrap--content {
  display: grid;
  grid-gap: 20px;
  padding: 65px 0 60px 0;
  width: calc(100% - 20px);
  max-width: 1077px;
  margin: 0 auto;
}

.sc-button {
  width: max-content;
  min-width: 57px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  user-select: none;
  padding: 0.4rem 0.6rem;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  color: var(--sc-theme--secondary);
  border: 1px solid rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: inherit;
  text-transform: inherit;
  border-radius: var(--sc-theme--small-radius);
}
.sc-button > * + * {
  margin-left: 5px;
}
.sc-button:hover {
  cursor: pointer;
}
.sc-button:disabled {
  pointer-events: none;
}
.sc-button .sc-button__label {
  font-weight: inherit;
  font-size: inherit;
  text-align: left;
  color: inherit;
}
.sc-button .sc-button__icon {
  font-size: 1.25rem;
  position: relative;
  color: inherit;
  /* @fallback */
  width: 1.25rem;
  height: 1.25rem;
}
.sc-button:hover {
  color: var(--sc-theme--secondary);
  cursor: pointer;
}
.sc-button:focus {
  color: var(--sc-theme--secondary);
  cursor: pointer;
  outline: 2px solid rgba(175, 175, 175, 0.5);
}
.sc-button:active {
  color: var(--sc-theme--secondary-light);
  cursor: pointer;
}
.sc-button:disabled {
  color: var(--sc-theme--secondary-dark);
  cursor: not-allowed !important;
}
.sc-button.sc-button--outlined {
  color: var(--sc-theme--secondary);
  border: 1px solid var(--sc-theme--secondary);
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: inherit;
  text-transform: inherit;
  border-radius: var(--sc-theme--small-radius);
}
.sc-button.sc-button--outlined:hover {
  color: var(--sc-theme--on-secondary);
  background: var(--sc-theme--secondary);
  border: 1px solid var(--sc-theme--secondary);
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
.sc-button.sc-button--outlined:focus {
  border: 1px solid var(--sc-theme--secondary);
  cursor: pointer;
  outline: 2px solid rgba(175, 175, 175, 0.5);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
.sc-button.sc-button--outlined:active {
  color: var(--sc-theme--on-secondary);
  background: var(--sc-theme--secondary-light);
  border: 1px solid var(--sc-theme--secondary-light);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
.sc-button.sc-button--outlined:disabled {
  color: var(--sc-theme--secondary-dark);
  border: 1px solid var(--sc-theme--secondary-dark);
  cursor: not-allowed !important;
}
.sc-button.sc-button--outlined:disabled:hover {
  background: rgba(0, 0, 0, 0);
}
.sc-button.sc-button--filled {
  color: var(--sc-theme--on-secondary);
  border: 1px solid var(--sc-theme--secondary);
  background: var(--sc-theme--secondary);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: inherit;
  text-transform: inherit;
  border-radius: var(--sc-theme--small-radius);
}
.sc-button.sc-button--filled:hover {
  color: var(--sc-theme--on-secondary);
  border: 1px solid var(--sc-theme--secondary);
  background: var(--sc-theme--secondary);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
.sc-button.sc-button--filled:focus {
  color: var(--sc-theme--on-secondary);
  border: 1px solid var(--sc-theme--secondary);
  background: var(--sc-theme--secondary);
  cursor: pointer;
  outline: 2px solid rgba(175, 175, 175, 0.5);
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
.sc-button.sc-button--filled:active {
  color: var(--sc-theme--on-secondary);
  border: 1px solid var(--sc-theme--secondary-light);
  background: var(--sc-theme--secondary-light);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}
.sc-button.sc-button--filled:disabled {
  color: var(--sc-theme--on-secondary);
  border: 1px solid var(--sc-theme--secondary-dark);
  background: var(--sc-theme--secondary-dark);
  cursor: not-allowed !important;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.sc-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  margin: 0;
  border: none !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  color: var(--sc-theme--on-primary);
  border: 1px solid var(--sc-theme--primary-light);
  background: var(--sc-theme--primary-light);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: var(--sc-theme--small-radius);
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
.sc-card .sc-card__img {
  width: 100%;
  height: 120px !important;
  overflow-y: hidden;
}
.sc-card .sc-card__img img {
  width: 100%;
  height: auto !important;
}
.sc-card .sc-card__content {
  padding: 0.8rem 0.8rem 0.5rem 0.8rem;
  color: inherit;
}
.sc-card .sc-card__content .sc-card__info__title {
  font-size: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: inherit;
}
.sc-card .sc-card__content .sc-card__info__subtitle {
  font-size: 0.75rem;
  height: 2rem;
  color: inherit;
  word-break: break-all;
  overflow: hidden;
  max-width: 100% !important;
  text-align: justify;
}
.sc-card .sc-card__content .sc-card__actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.8rem;
  grid-gap: 10px;
}
.sc-card .sc-card__content .sc-card__actions a {
  width: max-content;
}
.sc-card .sc-card__content .sc-card__actions a .sc-card__action {
  min-width: 24px;
  padding: 0.4rem 0.6rem;
  box-shadow: none !important;
}
.sc-card .sc-card__content .sc-card__actions a .sc-card__action.sc-button--outlined.sc-button--icon, .sc-card .sc-card__content .sc-card__actions a .sc-card__action.sc-button--filled.sc-button--icon {
  padding: 0.5rem;
  border-radius: 50%;
}

.gs-pay-prompt__overlay {
  display: block;
  position: fixed;
  z-index: 9998;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.gs-pay-prompt {
  width: 100%;
  display: grid;
  grid-gap: 0.7rem;
  z-index: 9999;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: var(--sc-theme--primary-light);
  padding: 1rem;
  border-radius: var(--sc-theme--medium-radius) var(--sc-theme--medium-radius) 0 0;
  -webkit-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}
.gs-pay-prompt .gs-pay-prompt__info {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 0.5rem;
}
.gs-pay-prompt .gs-pay-prompt__info .gs-pay-prompt__media {
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.gs-pay-prompt .gs-pay-prompt__info .gs-pay-prompt__service {
  font-size: 1.125rem;
}
.gs-pay-prompt .gs-pay-prompt__info .gs-pay-prompt__service-link {
  font-size: 0.875rem;
}
.gs-pay-prompt .gs-pay-prompt__details {
  background-color: var(--sc-theme--primary);
  padding: 0.7rem;
  line-height: 1.25rem;
}
.gs-pay-prompt .gs-pay-prompt__details .gs-pay-prompt__item {
  font-size: 0.875rem;
}
.gs-pay-prompt .gs-pay-prompt__actions {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.gs-pay-prompt .gs-pay-prompt__actions > * + * {
  margin-left: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
