//
//
//    Stack by GrowStocks
//    Made by Matteu#0001
//
//    Copyright 2021 (c) Matteu and the GrowStocks Development Group
//
//    The Design System for building quick, beautiful, responsive, and flexible user interfaces.
//
//
@use 'mixins';

// @DepricatedFeature
@mixin render() {
    .staff {
        width: 100%;
        margin-bottom: 10px;
        white-space: normal;
    }

    .staff__card {
        padding: 0 !important;
        margin: 0 !important;
        height: 100px;
        font-size: 13px;
        border-radius: 5px;
        display: flex;

        @media (min-width: mixins.$full-min) {
            height: 120px;
        }

        .staff__container {
            width: 100%;
            padding: 5px 10px;
            /*max-width: 32ch;*/
            overflow: hidden !important;
            position: relative;
            word-break: break-word;
            border-radius: 0 5px 5px 0;

            .staff__text {
                margin-bottom: 7px;

                .staff__position {

                }

                .staff__quote {
                    position: relative;
                }
            }

            @media (min-width: mixins.$full-min) {
                padding: 10px;
            }

            a {
                width: 12px;
                height: 12px;
            }

            h2 {
                font-size: 18px;

                @media (min-width: mixins.$full-min) {
                    font-size: 24px;
                }
            }

            .staff__socials {
                display: block;
                width: 100%;
                max-width: 200px;

                a {
                    margin: 0 7px 0 0;

                    i {
                        font-size: 24px;
                    }
                }
            }
        }

        img {
            width: 100px;
            height: 100px;
            border-radius: 5px 0 0 5px;

            @media (min-width: mixins.$full-min) {
                width: 120px;
                height: 120px;
            }
        }
    }
}