//--------------------------------------------------------------------------
// Config (_globals and _defaults)
//--------------------------------------------------------------------------
//
// globals, and general config
//

@use './mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--on-surface);
    font-family: var(--font-name), var(--font-type);

    &::before,
    &::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    &::-webkit-scrollbar {
        width: 0.7em;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
b {
    font-weight: var(--font-weight);
    font-family: var(--font-name), var(--font-type);
    color: inherit;
}

h4,
h5,
h6,
p {
    font-weight: var(--font-weight);
    font-family: var(--font-name), var(--font-type);
    color: inherit;
}

html {
    width: 100%;
    height: auto;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    //TEXT STUFF
    font-size: 1rem;

    //BACKGROUND STUFF
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;

    background-color: var(--surface);

    //SCROLLBAR
    @include mixins.scrollbar(var(--surface));
}

.visible {
    display: block!important;

    @include mixins.prefix(transition, display 0.1s ease);
}

.invisible {
    display: none!important;

    @include mixins.prefix(transition, display 0.1s ease);
}
