//--------------------------------------------------------------------------
// Mixins
//--------------------------------------------------------------------------
//
// Stack global mixins
//

@use 'sass:map';
@use 'sass:math';

// MIN MEDIA
@mixin mobile-min() {
    @media(min-width: 320px) {
        @content
    }
}

@mixin medium-min() {
    @media(min-width: 540px) {
        @content
    }
}

// MAX MEDIA
@mixin full-min() {
    @media(min-width: 850px) {
        @content
    }
}

@mixin mobile-max() {
    @media(max-width: 319px) {
        @content
    }
}

@mixin medium-max() {
    @media(max-width: 539px) {
        @content
    }
}

@mixin full-max() {
    @media(max-width: 849px) {
        @content
    }
}

// VENDOR PREFIX
@mixin prefix($property, $value) {

    $prefixes-map: (
        'webkit',
        'ms',
        'moz',
        'o'
    );

    @each $prefix in $prefixes-map {
        #{'-' + $prefix + '-' + $property}: $value;
    }

    #{$property}: $value;
}

// SCROLLBAR
@mixin scrollbar($background) {

    &::-webkit-scrollbar-track {
        background: $background;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scroll-thumb);
        border: 4px solid $background;

        &:hover {
            background-color: var(--scroll-hover);
        }
    }

}