//--------------------------------------------------------------------------
// Mixins
//--------------------------------------------------------------------------
//
// Stack Lib Mixins
//

@use 'sass:map';
@use 'sass:math';

// MIN MEDIA
@mixin mobile-min() {
    @media(min-width: 320px) {
        @content
    }
}

@mixin medium-min() {
    @media(min-width: 540px) {
        @content
    }
}

// MAX MEDIA
@mixin full-min() {
    @media(min-width: 850px) {
        @content
    }
}

@mixin mobile-max() {
    @media(max-width: 319px) {
        @content
    }
}

@mixin medium-max() {
    @media(max-width: 539px) {
        @content
    }
}

@mixin full-max() {
    @media(max-width: 849px) {
        @content
    }
}

// VENDOR PREFIX
@mixin prefix($property, $value) {

    $prefixes-map: (
        'webkit',
        'ms',
        'moz',
        'o'
    );

    @each $prefix in $prefixes-map {
        #{'-' + $prefix + '-' + $property}: $value;
    }

    #{$property}: $value;
}

// ELEVATION
@mixin elevation() {

    $level-map: (
        0: (0px 0px 0px 0px rgba(0 0 0 / 20%), 0px 0px 0px 0px rgba(0 0 0 / 14%), 0px 0px 0px 0px rgba(0 0 0 / 12%)),
        1: (0px 2px 1px -1px rgba(0 0 0 / 20%), 0px 1px 1px 0px rgba(0 0 0 / 14%), 0px 1px 3px 0px rgba(0 0 0 / 12%)),
        2: (0px 3px 1px -2px rgba(0 0 0 / 20%), 0px 2px 2px 0px rgba(0 0 0 / 14%), 0px 1px 5px 0px rgba(0 0 0 / 12%)),
        3: (0px 3px 3px -2px rgba(0 0 0 / 20%), 0px 3px 4px 0px rgba(0 0 0 / 14%), 0px 1px 8px 0px rgba(0 0 0 / 12%)),
        4: (0px 2px 4px -1px rgba(0 0 0 / 20%), 0px 4px 5px 0px rgba(0 0 0 / 14%), 0px 1px 10px 0px rgba(0 0 0 / 12%)),
        5: (0px 3px 5px -1px rgba(0 0 0 / 20%), 0px 5px 8px 0px rgba(0 0 0 / 14%), 0px 1px 10px 0px rgba(0 0 0 / 12%))
    ) !default;

    @each $z-level, $param in $level-map {

        .elevation--z#{$z-level} {
            @include prefix(box-shadow, $param);
        }

    }
}

// SCROLLBAR
@mixin scrollbar($background) {

    &::-webkit-scrollbar-track {
        background: $background;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scroll-thumb);
        border: 4px solid $background;

        &:hover {
            background-color: var(--scroll-hover);
        }
    }

}