@use './mixins';

@mixin alert(
    $width: 100%,
    $padding: 0.3rem 0.5rem,
    $border-radius: 0.3rem,
) {

    $types: (
       'success': var(--success),
       'warning': var(--warning),
       'error': var(--error),
       'undefined': var(--undefined),
       'default': var(--primary-light)
    );

    @each $type, $value in $types {

        $color: var(--on-primary);
        $separator: '--';

        @if($type == 'warning') {
            $color: var(--on-warning);
        } @else {
            $color: var(--on-primary);
        }

        @if($type == 'default') {
            $separator: '';
            $type: '';
        }

        // MANUAL VARIABLES
        $display: inline-block;

        .alert#{$separator}#{$type} {
            width: $width;
            padding: $padding;
            background-color: $value;
            border-radius: $border-radius;
            color: $color;

            .alert__icon {
                display: $display;
                font-size: 24px;
                margin-right: 3px;
                color: inherit;

                position: relative;
                top: 0.1rem;
            }

            .alert__text {
                display: $display;
                color: inherit;
                font-size: 14px;

                position: relative;
                bottom: 0.34rem;
            }
        }
    }
}

@include alert();