.banner {
    height: 37vh;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    clip-path: var(--clip-path);

    background: var(--banner);

    .wrap--text {
        width: calc(100% - 100px);
        max-width: 1077px;
        text-align: left;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            font-weight: 700;
        }

        * {
            color: var(--banner-color);
        }

        .banner__socials {
            display: flex;
            justify-content: space-between;
            width: 90px;
            margin: 10px 0 0 0;

            i {
                color: var(--banner-color);
                font-size: 24px !important;
            }
        }
    }
}
