@use './mixins';

// SETUP
$btn-radius: 0.3rem;
$btn-font-size: 14px;
$btn-padding: 8px 12px;

.btn {
    padding: $btn-padding;
    border-radius: $btn-radius;
    font-size: $btn-font-size;

    @include mixins.prefix(transition, all 0.1s linear);

    border: 1px solid var(--secondary);
    background-color: var(--transparent);
    color: var(--on-primary);

    &:hover {
        cursor: pointer;
        background-color: var(--secondary);
        color: var(--on-secondary);
    }

    @at-root #{&}--primary {
        padding: $btn-padding;
        border-radius: $btn-radius;
        font-size: 14px;
        font-weight: 700;

        @include mixins.prefix(transition, all 0.1s linear);

        border: 1px solid var(--secondary);
        background-color: var(--secondary);
        color: var(--on-secondary);

        &:hover {
            border: 1px solid var(--secondary-dark);
            background-color: var(--secondary-dark);
            cursor: pointer;
        }

    }

    @at-root #{&}--text-only {
        padding: $btn-padding;
        font-size: 14px;
        font-weight: 700;

        @include mixins.prefix(transition, all 0.1s linear);

        border: none;
        background-color: var(--transparent);
        color: var(--secondary);

        &:hover {
            color: var(--secondary-dark);
            cursor: pointer;
        }

    }
}

// LEGACY
.market__button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    margin-bottom: 3px;
    margin-top: 3px;

    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}
