@use './mixins';

@mixin chip(
    $width: 100%,
    $padding: 10px,

    $border-radius: 0.3rem,

    $title-font-size: 20px,
    $subtitle-font-size: 14px,
    $text-display: inline,

    $sprite-display: inline,
    $sprite-size: 32px,
    $sprite-margin: 3px 10px 7px 2px,
    $sprite-float: left
) {
    width: $width;
    padding: $padding;
    border-radius: $border-radius;

    background-color: var(--primary-light);

    &::after {
        content: "";
        clear: both;
        display: table;
    }

    .chip__sprite {
        img {
            display: $sprite-display;
            width: $sprite-size;
            height: $sprite-size;
            margin: $sprite-margin;
            float: $sprite-float;
        }
    }

    .wrap--text {
        display: $text-display;
        width: 100% !important;

        * {
            display: $text-display;
            text-align: justify;
        }
    }

    h2 {
        font-size: $title-font-size;
        padding: 0 !important;
        display: $text-display;
    }

    p {
        font-size: $subtitle-font-size;
        padding: 0 !important;
        display: $text-display;
    }

    a {
        display: $text-display;
    }

    .chip__arrow {
        width: 12px !important;
        height: auto !important;
        top: 2px;
        margin: 0 2px 0 1px !important;
    }

    .chip__spacer {
        margin: 0;
        font-weight: 700;
        color: var(--surface);
    }
}

.contain--item {
    height: max-content;
    border-radius: 0.3rem;

    .item__status__sym {
        display: inline !important;
        position: relative !important;
        top: 2px !important;
        right: 0 !important;
        font-size: 16px !important;
        font-weight: 400 !important;
    }

    .chip__options__trigger, .material-icons {
        display: block;
        position: relative;

        background-color: var(--transparent);
        border: none;

        width: 32px;
        height: 32px;

        float: right;
        padding: 0;

        top: 4px;
        right: 7px;

        &:hover {
            cursor: pointer;
        }
    }
}

.chip {
    @include chip($border-radius: 0.3rem 0.3rem 0 0);
}

.chip--full {
    @include chip();
}

.chip__options {
    display: none;
    border: none;
    width: 100%;
    padding: 5px 10px;

    background-color: var(--primary--variant-dark);

    .chip__options__button {
        display: inline-block;
        border: none;
        font-size: 13px !important;

        @include mixins.prefix(transition, all 0.1s linear);

        &:hover {
            cursor: pointer;
            color: var(--secondary);
        }
    }

    .chip__options_spacer {
        color: var(--surface);
    }
}

.close {
    content: "close" !important;
}

.chip__footer {
    $border-radius: 0 0 0.3rem 0.3rem;
    $font-size: 12px;
    $font-weight: 700;

    width: 100%;
    padding: 5px 10px 4px 10px !important;
    border-radius: $border-radius;
    font-size: $font-size !important;
    font-weight: $font-weight !important;
    color: #fff !important;

    &.stable {
        background-color: var(--success);
    }

    &.semi-stable {
        background-color: var(--warning);

        p {
            color: var(--on-secondary);
        }
    }

    &.unstable {
        background-color: var(--error);
    }

    &.undefined {
        background-color: var(--undefined);
    }

}

// LEGACY
.wrap--market {
    .chip__options__button {
        display: inline-block;
        border: none;
        font-size: 13px !important;
        margin-right: 0 !important;

        &:hover {
            cursor: pointer;
        }
    }

    .chip {
        img {
            margin-bottom: 20px;
        }
    }
}