/* CONTAINERS */

.contain--flex--row {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    gap: 7px;
}

.contain--flex--column {
    display: flex;
    flex-flow: column wrap;
}

.contain--flex--centered {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto!important;

    width: 100%;
    top: 20px;
}

.contain--grid {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    margin: 17px auto;
    padding: 0 5px;

    @media (min-width: 537px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 650px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
    }

}
