/* CONTAINERS */

.contain--flex--row {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin: 17px auto;
    padding: 0 5px;

    @supports(gap: 1rem) {
        gap: 1rem;
    }

    @supports not (gap: 1rem) {
        & > * + * {
            margin-top: 1rem;
        }
    }
}

.contain--flex--column {
    display: flex;
    flex-flow: column;
    margin: 17px auto;
    padding: 0 5px;

    @supports(gap: 1rem) {
        gap: 1rem;
    }

    @supports not (gap: 1rem) {
        & > * + * {
            margin-top: 1rem;
        }
    }
}

.contain--flex--centered {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto!important;
    padding: 0 5px;

    width: 100%;
    top: 20px;
}

.contain--grid {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    margin: 17px auto;
    padding: 0 5px;

    @media (min-width: 482px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 721px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 975px) {
        grid-template-columns: repeat(4, 1fr);
    }

}

.contain--grid--large {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    margin: 17px auto;
    padding: 0 5px;

    @media (min-width: 482px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 721px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 975px) {
        grid-template-columns: repeat(3, 1fr);
    }

}
