/* MENU DRAWER */

.drawer__overlay {
    display: block;
    position: fixed;
    z-index: 98;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.drawer {
    width: 100%;
    max-width: 370px;
    padding: 15px;
    height: 100%;
    position: fixed;
    right: 0!important;
    top: 50px;
    z-index: 101;
    overflow-y: scroll;

    background-color: var(--primary--variant-light);

    * {
        color: var(--on-drawer);
    }

    &.drawer--right {
        transform-origin: right;
    }

    .drawer__item {
        display: block;
        transition: 0.3s;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
            transition: all .1s ease-in-out;
        }

        p {
            padding: 7px;
            display: inline-block;
            font-size: 16px !important;
            transition: 0.3s;
        }
    }

    .drawer__icon {
        display: inline-block;
        position: relative;
        top: 2px;
        font-size: 17px;
    }

    &::-webkit-scrollbar-track {
        background: var(--primary--variant-light);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scroll-thumb);
        border: 4px solid var(--primary--variant-light);

        &:hover {
            background-color: var(--scroll-hover);
        }
    }
}

.drawer__divider {
    margin: 17px 0 7px 0;
    text-align: center;
    font-weight: 700!important;
}

.drawer__socials {
    display: flex;
    justify-content: space-around;
    width: 210px;
    margin: 0 auto;

    i {
        font-size: 24px !important;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
            transform: scale(var(--ts-scale));
            transition: all 0.2s ease;
        }
    }
}

.drawer__language-wrap {
    text-align: center;

    .drawer__language,
    .drawer__language p {
        display: inline-block !important;
        font-size: 14px !important;
        text-align: center;
    }

    .drawer__language_spacer {
        display: inline-block;
        margin: 0 1px;
    }
}

.drawer__language--active {
    p {
        font-weight: 700;
    }
}
