@use './mixins';

.faq {
    display: none;
    margin-bottom: 10px;
    /*transition: ease 200ms 200ms;
    transform-origin: top;*/

    @include mixins.prefix(transition, display 0.1s ease);
}

.faq--open {
    cursor: pointer;

    .material-icons {
        display: inline;
    }

    .faq__trigger {
        position: relative;
        top: -5px;
        display: inline;
    }
}
