.footer {
    margin-top: auto;
    padding: 1.5rem;
    margin-bottom: 55px;

    background-color: var(--primary);

    @media (min-width: 850px) {
        margin-bottom: 0;
    }

    .wrap--text {
        display: block;
        margin: 0 auto;
        text-align: center;

        h3 {
            width: 140px;
            margin: 0 auto;
            transition: all 0.1s ease;

            &:hover {
                color: var(--secondary);
                cursor: default;
            }
        }
    }

    .footer__links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin: 0 auto;

        .footer__links__item {
            p {
                font-size: 12px !important;
            }
        }
    }

    .footer__socials {

    }

    .footer__language__wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 7px;
        width: 250px;
        margin: 10px auto 5px auto;

        .footer__language,
        .footer__language p {
            font-size: 13px !important;
            text-align: center;
        }

        .footer__language__spacer {
            font-size: 13px !important;
            margin: 0 1px;
        }
    }

    .footer__language--active {
        p {
            font-weight: 700;
        }
    }
}
