@use './mixins';

.form {
    width: 100%;
    max-width: 670px;

    display: flex;
    flex-direction: column;

    padding: 0.7rem 1rem;

    background-color: var(--primary);
    color: var(--on-primary);
    border-radius: 0.5rem;

    @include mixins.prefix(transition, all 0.1s ease);

    .form__field {
        position: relative;
        margin: 7px 0;

        .form__label {
            width: 100%;
            font-size: 14px;
            padding: 0 0.7rem;

            position: absolute;
            top: 0.57rem;
            left: 0;

            --placeholder: #b1b1b1;
            color: var(--placeholder);

            @include mixins.prefix(transition, all 70ms ease);
        }

        .form__input {
            width: 100%;
            background-color: var(--transparent);
            border: 1px solid var(--input);

            padding: 0.5rem 0.7rem;
            border-radius: 0.3rem;

            @include mixins.prefix(transition, all 0.1s ease);

            font-size: 14px;

            resize: none;

            &::placeholder {
                color: var(--transparent);
            }

            &:focus {
                border: 2px solid var(--input);
                outline: none!important;
            }

            &:focus-within,
            &:not(:placeholder-shown) {
                & + .form__label {
                    width: max-content;
                    margin: 0 0 0 0.5rem;
                    padding: 0 0.2rem;

                    top: -0.5rem;

                    background-color: var(--primary);
                    pointer-events: none;
                }
            }
        }

        .error {
            background-color: var(--error);
            color: var(--on-error);
            padding: 3px 5px;
            border-radius: 3px;
            margin: 5px 0 0 0;
            font-size: 13px;

            @include mixins.prefix(transition, all 0.1s ease);
        }
    }

    .form__button {
        border: none;
        border-radius: 5px;
        padding: 7px;

        margin: 10px 0 0 0;

        background-color: var(--secondary);
        color: var(--on-secondary);

        font-weight: 700;

        @include mixins.prefix(transition, all 0.1s ease);

        &:hover,
        &:focus {
            background-color: var(--secondary-dark);
            transform: scale(1.01);
            cursor: pointer;
        }
    }
}
