// HEADER (Namespace: Header__[component]
@use './mixins';

.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    height: 50px;

    background-color: var(--primary-dark);

    @include mixins.prefix(transition, all 0.1s ease);
}

.header__wrap {
    display: flex;
    justify-content: space-between;

    .header__text {
        position: relative;
        left: 0;
        padding: 0.5rem 0.7rem;
        font-size: 1.2rem;

        @include mixins.prefix(transition, all 0.1s ease);

        @media (min-width: 850px) {
            padding: 0.5rem;
        }

        &.invisible {
            display: none;
        }
    }

    @media (min-width: 850px) {
        width: calc(100% - 34px);
        margin: 0 auto;
    }
}

.header--scrollable {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    height: 50px;

    background-color: var(--transparent);

    @include mixins.prefix(transition, all 0.1s ease);

    * {
        @include mixins.prefix(transition, all 0.1s ease);
        color: var(--banner-color);
    }
    
    &.scrolled {
        background-color: var(--primary-dark);
        box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0px rgb(0 0 0 / 14%), 0 1px 5px 0px rgb(0 0 0 / 12%);

        * {
            color: var(--on-primary);
        }
    }
}
