/* NAVBAR */

@use './mixins';

.nav {
    width: 100%;
    position: fixed;
    padding: 0.5rem;
    bottom: 0;
    z-index: 100;

    background-color: var(--primary-dark);

    @media (min-width: 850px) {
        width: 0;
        height: 0;
        top: 0;
        bottom: inherit;
        background-color: transparent !important;
    }

    .nav__container {
        display: grid;
        grid-column: 1/-1;
        grid-template-columns: repeat(var(--nav-contents), 1fr);
        grid-gap: 0.5rem;
        text-align: center;

        @media (min-width: 850px) {
            position: fixed;
            right: 17px;
            width: 200px;
            top: 12px;
        }

        .nav__item {
            margin: 0 auto;
            cursor: pointer;

            & > a,
            & > p {
                display: block;
                &:hover {
                    opacity: 0.6;
                }
            }

            .nav__item__icon {
                font-size: 24px;
                font-weight: 200 !important;
                color: var(--on-primary) !important;

                @include mixins.prefix(transition, all 0.1s ease);
            }

            .nav__item__text {
                font-size: 12px !important;
                margin-top: -3px;
                color: var(--on-primary) !important;

                @media (min-width: 850px) {
                    display: none !important;
                    /*font-size: 16px!important;
                    margin-top: 0;*/
                }
            }
        }
    }
}

.header--scrollable {
    .nav__item_icon,
    .nav__item_text {
        @media (min-width: 850px) {
            color: var(--banner-color);
        }
    }
}
