@use './mixins';

*[data-tooltip] {
  position: relative;

  &:hover {
    cursor: help;
  }

  &::after {
    // TAKE CONTENT DATA
    content: attr(data-tooltip);

    // STYLING
    display: block;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 0.8em 1em;
    border-radius: 5px;
    font-size: .75em;
    bottom: calc(100% + 2px);
    left: -5%;
    right: -5%;
    z-index: 999;
    opacity: 0;

    pointer-events: none;
    text-align: center;

    @include mixins.prefix(transition, all 0.1s ease);
  }

  &:hover::after {
    opacity: 1;
  }
}

button[data-tooltip] {
  position: relative;

  &:hover {
    cursor: help;
  }

  &::after {
    // TAKE CONTENT DATA
    content: attr(data-tooltip);
    // STYLING
    display: block;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 0.8em 1em;
    border-radius: 5px;
    font-size: .75em;
    bottom: calc(100% + 5px);
    left: -5%;
    right: -5%;
    z-index: 999;
    opacity: 0;
    transition: opacity ease-in-out 200ms;
    pointer-events: none;
    text-align: center;
  }

  &:hover::after {
    opacity: 1;
  }
}