// CONFIG

@import url(var(--font-link));

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--on-surface);
  font-family: var(--font-name), var(--font-type);

  &::-webkit-scrollbar {
    width: 0.7em;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;

    &:hover {
      cursor: pointer;
    }
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
b {
  font-weight: 700;
}

h4,
h5,
h6,
p {
  font-weight: 400;
}

html {
  width: 100%;
  height: auto;
}

body {
  width: 100%;
  height: 100%;

  //TEXT STUFF
  font-size: 1rem;

  //BACKGROUND STUFF
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;

  background-color: var(--surface);

  &::-webkit-scrollbar-track {
    background: var(--surface);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb);
    border: 4px solid var(--surface);

    &:hover {
      background-color: var(--scroll-hover);
    }
  }
}