.banner {
  display: flex;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;

  @media (min-width: 850px) {
    height: 50vh;
  }

  .wrap--text {
    top: 22vh;
    left: 10vw;
    color: #fff;
    position: absolute;
    max-width: 250px;

    h1 {
      font-weight: 700;
    }
  }
}