.title-bar {
  width: 100%;
  height: auto;
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;

  @at-root #{&}--on-card {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    background-color: transparent!important;
  }
}

.card {
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  text-align: justify;

  p {
    font-size: 14px;
    margin-bottom: 7px;
  }

  code {
    padding: 0 3px;
  }
}