.title-bar {
  width: 100%;
  height: auto;
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 700;

  @at-root #{&}--on-card {
    width: 100%;
    height: auto;
    padding: 3px 0;
    margin-bottom: 7px;
    font-size: 22px;
    font-weight: 700;
    background-color: transparent!important;
  }

  @at-root #{&}--on-surface {
    width: 100%;
    height: auto;
    padding: 0 5px;
    margin-bottom: 7px;
    font-size: 22px;
    font-weight: 700;
    background-color: transparent!important;
  }
}

.card {
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 5px;

  @at-root #{&}--on-surface {
    width: 100%;
    height: auto;
    padding: 5px;
    margin-bottom: 10px;
    background-color: transparent!important;

    p {
      font-size: 14px;
      margin-bottom: 7px;
      text-align: justify;
    }

    code {
      background-color: #333;
      color: #de7272;
      padding: 0 3px;
    }
  }

  p {
    font-size: 14px;
    margin-bottom: 7px;
    text-align: justify;
  }

  code {
    background-color: #2b2b2b;
    color: #de7272;
    padding: 0 3px;
  }
}

.card--x {
  padding: 0 !important;
  margin: 0 !important;
  height: 100px;
  font-size: 13px;
  border-radius: 5px;
  display: flex;

  @media (min-width: 850px) {
    height: 120px;
  }

  .card--x__container {
    width: 100%;
    padding: 5px 10px;
    /*max-width: 32ch;*/
    overflow: hidden !important;
    position: relative;
    word-break: break-word;
    border-radius: 0 5px 5px 0;

    .card--x__wrap--text {
      margin-bottom: 7px;

      .card--x__text {
        position: relative;
      }
    }

    @media (min-width: 850px) {
      padding: 10px;
    }

    a {
      width: 12px;
      height: 12px;
    }

    h2 {
      font-size: 18px;

      @media (min-width: 850px) {
        font-size: 24px;
      }
    }

    .card--x__socials--wrap {
      display: block;
      width: 100%;
      max-width: 200px;

      a {
        margin: 0 7px 0 0;

        i {
          font-size: 24px;
        }
      }
    }
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 5px 0 0 5px;

    @media (min-width: 850px) {
      width: 120px;
      height: 120px;
    }
  }
}