.btn {
  padding: 7px 9px;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
  font-size: 15px;

  background-color: var(--secondary);
  color: var(--on-secondary);

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  @at-root #{&}--bold {
    padding: 7px 9px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    margin: 5px 0 7px 0;

    background-color: var(--secondary);
    color: var(--on-secondary);

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }

  }
}