/* MENU DRAWER */

.drawer__overlay {
  display: block;
  position: fixed;
  z-index: 98;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.drawer {
  width: 100%;
  max-width: 350px;
  position: fixed;
  padding: 15px;
  height: 100%;
  right: 0;
  top: 50px;
  z-index: 100;
  overflow-y: scroll;


  &.drawer--right {
    transform-origin: right;
  }

  .drawer__item {
    display: block;
    transition: 0.3s;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
      -webkit-transition: color .1s ease-in-out, background-color .1s ease-in-out;
      transition: color .1s ease-in-out, background-color .1s ease-in-out;
    }

    p {
      padding: 7px;
      display: inline-block;
      font-size: 16px !important;
      transition: 0.3s;
    }
  }

  .drawer__icon {
    display: inline-block;
    position: relative;
    top: 2px;
    font-size: 17px;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
      -webkit-transition: color .1s ease-in-out, background-color .1s ease-in-out;
      transition: color .1s ease-in-out, background-color .1s ease-in-out;
    }
  }
}

.drawer__divider {
  margin: 17px 0 7px 0;
  text-align: center;
  font-weight: 700;
}

.drawer__socials {
  display: flex;
  justify-content: space-around;
  width: 210px;
  margin: 0 auto;

  i {
    font-size: 24px !important;
  }
}

.drawer__language-wrap {
  text-align: center;

  .drawer__language,
  .drawer__language p {
    display: inline-block!important;
    font-size: 14px !important;
    text-align: center;
  }

  .drawer__language_spacer {
    display: inline-block;
    margin: 0 1px;
  }
}

.drawer__language--active {
  p {
    font-weight: 700;
  }
}
