.footer {
    padding: 1.5rem;
    margin-bottom: 55px;

    background-color: var(--primary);

    @media (min-width: 850px) {
        margin-bottom: 0;
    }

    .wrap--text {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}
